.eco-background-container {
    $self: &;

    position: relative;
    overflow: hidden;
    &__bg {
        display: block;
        background: linear-gradient(180deg, rgba(243, 249, 255, 0) 4.05%, $light-gray-color 43.15%);
        border-radius: 50%;
        width: 1590px;
        height: 1590px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;

        @media (max-width: 991px) {
            width: 1100px;
            height: 1100px;
        }
    }

    &_s2,
    &_s3 {
        #{$self}__bg {
            &::before {
                content: '';
                display: block;
                background-image: url('../img/bg-container.svg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                @extend %full-screen;
            }
        }
    }

    &_s3 {
        #{$self}__bg {
            background: none;
        }
    }
}