.background-circle {
  &__bg {
    background-image: url(/assets/img/background-circle.svg);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
    width: -webkit-fill-available;
    height: 1930px;
    left: -75px;
    top: 468px;
    z-index: -1;
  }
}