.eco-brands {
    margin: 50px 0 181px;
    @media screen and (max-width: 991px) {
        margin: 50px 0 80px;
    }

    &.mb-300 {
        margin-bottom: 300px;
        @media screen and (max-width: 991px) {
            margin: 50px 0 80px;
        }
    }

    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media screen and (max-width: 991px) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    &__item {
        width: 113px;
        @media  (max-width: 991px) {
            margin: 0 30px 30px;
        }
        @media  (max-width: 767px) {
            margin: 0 20px 30px;
        }
        @media  (max-width: 575px) {
            width: 90px;
        }
        @media  (max-width: 440px) {
            width: 70px;
            margin: 0 12px 30px;
        }
    }
}
