.eco-card-slider {
    margin: 0 0 170px;
    @media (max-width: 991px) {
        margin: 0 0 120px;
    }
    @media (max-width: 767px) {
        margin: 0 0 100px;
    }

    &__wrap {
        position: relative;
        padding-bottom: 40px;
    }

    .swiper-image-card-next,
    .swiper-image-card-prev {
        position: absolute;
        bottom: 0;
        top: auto;
    }

    .swiper-image-card-next {
        left: calc(50% + 8px);
        right: auto;
    }

    .swiper-image-card-prev {
        right: calc(50% + 8px);
        left: auto;
    }

    &__content {
        p {
            @extend %text-l;
            color: $darker-blue-color;
            margin: 0;
        }
    }

    &__image {
        position: relative;
        width: 100%;
        padding-bottom: 50px;
        @media (max-width: 991px) {
            margin: 50px auto 0;
        }
        @media (max-width: 767px) {
            padding-bottom: 25px;
        }

        &-wrap {
            width: calc(100% - 40px);
            max-width: 555px;
            margin-left: auto;
            border-radius: 146px 0px 0px 40px;
            position: relative;
            @media (max-width: 767px) {
                width: calc(100% - 20px);
                border-radius: 76px 0px 0px 40px;
            }

            &:after {
                content: '';
                display: block;
                position: absolute;
                bottom: -46px;
                left: -40px;
                width: 265px;
                height: 262px;
                border-radius: 0px 0px 0px 63px;
                background-color: $light-blue-color;
                z-index: 1;
                @media (max-width: 767px) {
                    width: 185px;
                    height: 182px;
                    bottom: -20px;
                    left: -20px;
                    border-radius: 0px 0px 0px 40px;
                }
            }

            img {
                position: relative;
                z-index: 2;
                width: 100%;
                border-radius: 146px 0px 0px 40px;
                @media (max-width: 767px) {
                    border-radius: 76px 0px 0px 40px;
                }
            }
        }
    }
}
