.eco-contact-main {
    margin-bottom: 128px;
    @media (max-width: 991px) {
        margin-bottom: 100px;
    }

    &__title {
        margin-bottom: 40px;

        @media (max-width: 991px) {
            margin-bottom: 20px;
        }
    }

    &__text {
        @extend %text-l;
        color: $darker-blue-color; 
        margin: 0;
    }

    &__address {
        color: $light-blue-text-color;
        display: flex;
        align-items: flex-start;
        margin-bottom: 20px;
    }

    &__tel {
        color: $light-blue-text-color;
    }

    &__info {
        margin-top: 51px;
        max-width: 280px;

        &__icon {
            margin-right: 12px;
        }
    }
}

.eco-contact-form {
    max-width: 636px;
    margin: auto;
    border: 1px solid rgba(1, 37, 80, 0.09);
    box-shadow: 0px 4px 17px rgba(17, 61, 118, 0.1);
    border-radius: 12px;
    padding: 80px 29px 75px;
    margin-top: -200px;
    background-color: $white-color;
    z-index: 1;
    position: relative;

    @media (max-width: 991px) {
        padding: 29px;
        margin: inherit;
        min-width: fit-content;
    }
    &__text {
        margin-bottom: 25px;
    }
    &__field, textarea {
        width: 100%;
        padding: 18px 20px;
        border: 1px solid $light-blue-text-color;
        border-radius: 12px;
        font-size: 15px;
        font-weight: 500;
    }
}
.eco-form-checkbox {
    display: flex;
    margin-bottom: 35px;
    align-items: center;
    cursor: pointer;
    &__input + &__label {
        position: relative;
        display: flex;
        cursor: pointer;
        align-items: center;
        @media (max-width: 436px) {
            align-items: unset;
        }
    }
    &__input:checked + &__label:after{
        position: absolute;
        top: -1px;
        left: 6px;
        content: '\2714';
        font-size: 18px;
        @media (max-width: 1199px) {
            top: 10px;
        }
        @media (max-width: 991px) {
            top: 0;
        }
        @media (max-width: 767px) {
            top: 10px;
        }
        @media (max-width: 437px) {
            top: 5px;
        }
    }
    &__label:before{
        content:'';
        -webkit-appearance: none;
        background-color: transparent;
        border: 1px solid $light-blue-text-color;
        padding: 12px;
        display: inline-block;
        position: relative;
        vertical-align: middle;
        cursor: pointer;
        margin-right: 12px;
        border-radius: 2px;
        max-height: 25px;
        @media (max-width: 436px) {
            margin-top: 5px;
        }
    }
    &__input {
        display: none;
    }
}

.eco-filed-form {
    position: relative;
    margin-bottom: 32px;

    $field: &;

    &__label {
        display: block;
        position: absolute;
        background-color: $white-color;
        padding: 0 8px;
        z-index: 3;
        font-weight: 500;
        font-size: 15px;
        line-height: 120%;
        text-transform: capitalize;
        top: -9px;
        left: 20px;
        opacity: 0;
        transition: all 0.4s;
    }

    input, textarea {
        width: 100%;
        padding: 18px 20px;
        border: 1px solid $light-blue-text-color;
        border-radius: 12px;
        font-size: 15px;
        font-weight: 500;
        transition: all 0.4s;
        text-transform: capitalize;

        &:active,
        &:focus {
            outline: none;
            border-color: $light-blue-color;

            & + #{$field}__label {
                opacity: 1;
            }
        }

        &::placeholder {
            color: $dark-blue-color;
        }
    }

    textarea {
        resize: none;
    }
}

.gfield-choice-input {
    min-height: 25px;
    min-width: 25px;
    margin-right: 10px;
}

#label_1_21_1 {
    font-size: 16px;
    color: $brown-color;
}

.gform_confirmation_wrapper {
    padding: 145px 0 362px;
    box-shadow: $drop-shadow;
    border-radius: 12px;
    background-color: $white-color;
    border: 1px solid rgba(1, 37, 80, 0.09);
    max-width: 636px;
}

.eco-content_with_the_form {
    position: relative;
    z-index: 1;

    .gform_wrapper {
        background-color: $white-color;
        border: 1px solid rgba(1, 37, 80, 0.09);
        border-radius: 12px;
        box-shadow: $drop-shadow;
        padding: 80px 30px 75px;
        margin-top: -220px;
        margin-left: auto;
        max-width: 636px;

        @media (max-width: 991px) {
            padding: 50px 30px 40px;
            margin-top: 70px;
        }

        &.gravity-theme {
            .gfield_description {
                font-size: 16px!important;
                padding-top: 25px!important;
                color: $brown-color;

                &.gfield_validation_message {
                    background-color: $white-color!important;
                    border: none!important;
                    font-size: 14px!important;
                    color: red!important;
                    padding: 0!important;
                    position: absolute!important;
                    bottom: -24px!important;
                    left: 0!important;

                    &:before {
                        content: '';
                        background-image: url("../img/error_message.svg");
                        display: inline-block;
                        height: 10px;
                        width: 10px;
                        background-size: cover;
                        background-position: center center;
                        margin-right: 4px;
                    }
                }
            }
            .gform_fields {
                padding: 0;
            }

            .gfield {
                position: relative;
                &:focus {
                    label {
                        opacity: 1;
                    }
                }
                &.gfield_error {
                    input, textarea {
                        border-color: red;
                    }
                }
                &.gfield--width-half {
                     margin-bottom: 20px;
                }
                textarea, input {
                    width: 100%;
                    padding: 18px 20px!important;
                    border: 1px solid $light-blue-text-color;
                    border-radius: 12px;
                    &:active,
                    &:focus, {
                        outline: none;
                        border-color: $light-blue-color;
                        &::placeholder {
                            position: absolute;
                            z-index: 3;
                            top: -9px;
                            left: 20px;
                            background-color: $white-color;
                        }
                    }
                    &::placeholder {
                        color: $dark-blue-color;
                    }
                }
                input {
                    width: fit-content;
                }
                textarea {
                    max-height: 188px;
                }
            }
            .gform_footer {
                padding: 0;
                margin: 0;
                position: relative;
                max-width: max-content;
                .gform_button {
                    margin-top: 35px;
                    margin-bottom: 0;
                    align-items: center;
                    font-weight: 500;
                    font-size: 15px;
                    line-height: 1.2;
                    color: $light-blue-text-color;
                    text-transform: capitalize;
                    background-color: $brand-secondary;
                    padding: 7px 19px;
                    border-radius: 80px;
                    border: 1px solid $brand-secondary;
                    height: 45px;
                    width: 187px;
                    justify-content: space-between;
                    display: flex;
                    position: relative;
                    transition: all .4s;
                        .button_element_2 {
                            position: absolute;
                            top: 18px;
                            right: 33px;
                            transition: all .4s;
                        }
                        .button_element {
                            position: absolute;
                            top: 18%;
                            right: 20px;
                        }

                        &:hover {
                            background-color: $white-color;
                            .button_element_2 {
                                width: 18px;
                                right: 25px;
                                transition: all .4s;
                            }
                            .button_element {
                            }
                        }
                    }
                }
                &:before {
                    display: block;
                    position: absolute;
                    transition: all .4s;
                    width: 29px;
                    height: 29px;
                    border: 1px solid $light-blue-text-color;
                    border-radius: 50%;
                    top: 0;
                    right: 0;
                }
                &:after {
                    content: "";
                    display: block;
                    position: absolute;
                    transition: all .4s;
                    width: 24px;
                    height: 8px;
                    background-repeat: no-repeat;
                    background-size: 24px 8px;
                    background-position: center right;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    margin: auto;
                }

        }
        .gform_validation_errors {
            box-shadow: none;
            display: none;
        }
    }
}
#validation_message_1_17 {
    display: none;
}
.gchoice  {
    display: flex;
    align-items: flex-start;
}