.eco-projects-slider {
    position: relative;

    .eco-projects__decor {
        width: fit-content;
        position: absolute;
        top: -15%;
        right: 2%;
        z-index: -1;
    }

    &__head {
        margin: 0 0 50px;

        @media (max-width: 991px) {
            margin: 0 0 30px;
        }

        .eco-block-subtitle {
            color: $darker-blue-color;
        }
    }

    &__wrap {
        position: relative;
        margin-bottom: -30px;
        .swiper-custom-prev,
        .swiper-custom-next {
            position: absolute;
            top: 426px;
            z-index: 4;
            right: auto;
            @media (max-width: 1199px) {
                top: 326px;
            }
            @media (max-width: 991px) {
                top: auto;
                bottom: -40px;
            }
        }

        .swiper-custom-prev {
            left: calc((100vw - 1296px) / 2);

            @media (max-width: 1399px) {
                left: calc((100vw - 1119px) / 2);
            }

            @media (max-width: 1199px) {
                left: calc((100vw - 936px) / 2);
            }
            @media (max-width: 991px) {
                left: auto;
                right: calc(50% + 8px);
            }
        }

        .swiper-custom-next {
            left: calc((100vw - 1296px) / 2 + 55px);

            @media (max-width: 1399px) {
                left: calc((100vw - 1119px) / 2 + 55px);
            }

            @media (max-width: 1199px) {
                left: calc((100vw - 936px) / 2 + 55px);
            }
            @media (max-width: 991px) {
                right: auto;
                left: calc(50% + 8px);
            }
        }

        .swiper {
            padding: 0 0 30px;
        }

        .swiper-slide {
            padding: 0 5px;
            @media (max-width: 767px) {
                padding: 0;
                width: 305px;
            }
        }
    }

    &__item {
        position: relative;
        z-index: 2;

        &-line {
            display: block;
            height: 486px;
            width: calc(((100vw - 100%) / 2) + 81px);
            position: absolute;
            top: 0;
            left: calc((100% - 100vw) / 2);
            background-color: $medium-blue-color;
            z-index: 3;
            @media (max-width: 1199px) {
                height: 386px;
                width: calc(((100vw - 100%) / 2) + 30px);
            }
        }

        &-image {
            height: 486px;
            width: 100%;
            border-radius: 0px 125px 0px 0px;
            overflow: hidden;
            margin-left: 80px;
            position: relative;
            z-index: 1;
            @media (max-width: 1199px) {
                height: 386px;
                margin-left: 0;
                width: calc(100% + 40px);
            }
            @media (max-width: 991px) {
                width: 100%;
            }
            @media (max-width: 767px) {
                width: calc(((100vw - 100%) / 2) + 100%);
                margin-left: calc((100% - 100vw) / 2);
            }
            @media (max-width: 575px) {
                height: 292px;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        &-content {
            margin-top: 176px;
            background-color: $white-color;
            padding: 50px 70px 50px 65px;
            position: relative;
            z-index: 3;
            box-shadow: $drop-shadow;
            border-radius: 0px 80px 80px 0px;
            @media (max-width: 1199px) {
                padding: 50px 40px;
            }
            @media (max-width: 991px) {
                border-radius: 50px 0px 0px 50px;
                margin-top: -55px;
            }

            @media (max-width: 767px) {
                width: calc(((100vw - 100%) / 2) + 100%);
                margin-right: calc((100% - 100vw) / 2);
                padding-right: calc(((100% - 516px) / 2) + 40px);
            }

            @media (max-width: 575px) {
                padding: 40px 30px;
            }
            @media (max-width: 370px) {
                padding: 40px 20px;
            }
        }

        &-title {
            @extend %h3;
            margin: 0 0 27px;
            @media (max-width: 991px) {
                margin: 0 0 20px;
            }
            @media (max-width: 767px) {
                margin: 0 0 14px;
            }
        }

        &-text {
            margin: 0 0 42px;
            @media (max-width: 991px) {
                margin: 0 0 30px;
            }
            @media (max-width: 767px) {
                margin: 0 0 20px;
            }

            p {
                @extend %text-l;
                color: $brown-color;
                margin: 0 0 20px;
            }
        }

        &-author {
            width: max-content;
            @extend %text-s;
            font-weight: 500;
            background: $light-gray-color;
            border-radius: 78px;
            padding: 8px 20px 10px;
            margin: 0 0 35px;
            @media (max-width: 991px) {
                margin: 0 0 30px;
            }
            @media (max-width: 767px) {
                margin: 0 0 20px;
            }
        }
    }
}

