.eco-detail-text {
    h2 {
        @extend %h2;
        margin: 0 0 28px;
        text-transform: capitalize;
        @media (max-width: 767px) {
            margin: 0 0 19px;
        }
    }

    p {
        @extend %text-l;
        color: $brown-color;
        margin: 0 0 20px;
    }

    &__block {
        margin-bottom: 90px;
        @media (max-width: 991px) {
            margin: 0 0 50px;
        }
    }
}
