.eco-error-page {
    padding-bottom: 50px;

    @media (max-width: 991px) {
        padding-top: 55px;
        padding-bottom: 25px;
    }

    &__image {
        width: 150px;
        margin: 0 0 35px;

        img {
            width: 100%;
        }
    }

    &__wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}
