.eco-expertise {
    padding: 100px 0 150px;
    @media (max-width: 991px) {
        padding: 30px 0 120px;
    }

    &__list {
        margin-left: 40px;
        max-width: 660px;
        color: $brown-color;
        @media (max-width: 991px) {
            margin-left: 0;
            margin-bottom: 30px;
        }

        ul li {
            @extend %text-l;
            margin-bottom: 18px;
            @media (max-width: 575px) {
                margin-bottom: 5px;
            }
        }

    }

    &__title {
        margin-bottom: 39px;
        text-transform: capitalize;
        @media (max-width: 575px) {
            margin-bottom: 10px;
        }
    }
}