.eco-large_quote_block {
    .container-small {
        position: relative;
        z-index: 2;
    }

    &__content {
        position: relative;
        background-color: $white-color;
        box-shadow: $drop-shadow;
        border-radius: 0 20px 0 0;
        padding: 54px 66px 54px 79px;
        max-width: 999px;
        z-index: 0;

        @media (max-width: 1199px) {
            margin-right: 20px;
        }

        @media (max-width: 767px) {
            padding: 42px 24px;
        }
    }

    &__content-back {
        position: absolute;
        bottom: 0;
        left: 0;
        background: $light-gray-color;
        border-radius: 0 400px 0 0;
        width: 308px;
        height: 237px;
        z-index: -1;

        @media (max-width: 575px) {
            width: 225px;
            height: 173px;
        }
    }

    &__text {
        margin-bottom: 30px;
        line-height: 160%;
        color: $brown-color;
        max-width: 854px;
    }

    &__name {
        font-weight: 500;
    }

    &__author-bg {
        position: absolute;
        width: 272px;
        height: 151px;
        transform: rotate(90deg);
        background-color: $light-blue-color;
        border-radius: 30px 0 0 0;
        right: -60px;
        top: 25px;
        z-index: -1;

        @media (min-width: 1199px) {
            right: -65px;
        }
    }
}