.eco-hero {
    position: relative;

    $hero: &;

    &.hero_long {
        #{$hero}__content {
            padding-bottom: 215px;
            @media (max-width: 991px) {
                padding-bottom: 200px;
            }
        }
    }

    &--with-image {
        #{$hero}__content {
            @media (max-width: 767px) {
                padding-bottom: 90%;
            }
        }
    }

    &__wrap {
        position: relative;
        z-index: 1;
        overflow: hidden;

        &:before {
            content: '';
            display: block;
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            background: #004080;
            border-radius: 0 0 300px 0;

            @media (max-width: 767px) {
                border-radius: 0 0 180px 0;
            }
        }

        &:after {
            content: '';
            display: block;
            width: 1152px;
            height: 1152px;
            position: absolute;
            top: -720px;
            left: -620px;
            background: rgba(0, 31, 68, 0.2);
            border-radius: 50%;

            @media (max-width: 767px) {
                left: -800px;
            }

            @media (max-width: 575px) {
                width: 826px;
                height: 826px;
                top: auto;
                bottom: 80px;
                right: 90px;
                left: auto;
            }
        }
    }

    &__content {
        padding: 200px 0 100px;
        position: relative;
        z-index: 3;
        @media (max-width: 767px) {
            padding: 130px 0 135px;
        }
    }

    &__img {
        border-radius: 108px 0 0 108px;
        object-fit: cover;
        max-height: 515px;
        position: absolute;
        top: 180px;
        right: 0;
        z-index: 1;

        @media (max-width: 767px) {
            padding-left: 21px;
            min-height: 382px !important;
            width: 100% !important;
            top: 390px;
        }
        @media (max-width: 1399px) {
            min-height: 515px;
            width: 50%;
        }
    }

    &__title {
        @extend %h1;
        color: $white-color;
        text-transform: capitalize;
        margin: 0 0 20px;
    }

    &__subtitle {
        @extend %h5;
        font-weight: 600;
        color: $brand-secondary;
        margin: 0 0 14px;

        @media (max-width: 767px) {
            margin: 0 0 22px;
        }
    }

    &__categories {
        display: flex;
        align-items: center;
        list-style: none;
        margin: 0 0 15px;

        @media (max-width: 767px) {
            margin: 0 0 22px;
        }

        li {
            font-weight: 600;
            color: $brand-secondary;

            &::after {
                content: '|';
                padding-left: 1px;
                padding-right: 5px;
            }

            &:last-child {
                &::after {
                    display: none;
                }
            }
        }

        a {
            @extend %h5;
            font-weight: 600;
            color: $brand-secondary;
        }
    }

    &__text {
        @media (max-width: 767px) {
            margin: 25px 0 32px;
        }

        p {
            @extend %text-l;
            color: $white-color;
            margin: 0 0 28px;
            @media (max-width: 767px) {
                margin: 0 0 32px;
            }
            @media (max-width: 575px) {
                font-size: 18px;
            }
        }
    }
}
