.eco-hero-with-image {
    position: relative;

    &__wrap {
        position: relative;
        z-index: 1;
        overflow: hidden;

        &:before {
            content: '';
            display: block;
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            background: $darker-blue-color-second;
            border-radius: 0 0 300px 0;
            @media (max-width: 767px) {
                border-radius: 0 0 100px 0;
            }
        }

        &:after {
            content: '';
            display: block;
            width: 1152px;
            height: 1152px;
            position: absolute;
            top: -720px;
            left: -620px;
            background: rgba(0, 31, 68, 0.2);
            border-radius: 50%;

            @media (max-width: 767px) {
                left: -800px;
            }

            @media (max-width: 575px) {
                width: 826px;
                height: 826px;
                top: auto;
                bottom: 80px;
                right: 90px;
                left: auto;
            }
        }
    }

    &__content {
        padding: 200px 0 100px;
        position: relative;
        z-index: 3;
        @media (max-width: 767px) {
            padding: 142px 0 90%;
        }
    }

    &__title {
        @extend %h1;
        color: $white-color;
        margin: 0;
    }

    &__subtitle {
        @extend %h5;
        font-weight: 600;
        margin: 0 0 14px;
        color: $brand-secondary;
    }

    &__text {
        p {
            @extend %text-l;
            color: $white-color;
            margin: 0 0 28px;
        }
    }

    &__banner-img {
        position: absolute;
        top: 180px;
        right: 0;
        z-index: 1;
        border-radius: 108px 0px 0px 108px;
        object-fit: cover;
        @media (max-width: 767px) {
            padding-left: 21px;
            width: 100% !important;
            min-height: 382px !important;
            top: 390px;
        }
        @media (max-width: 1399px) {
            width: 50%;
            min-height: 515px;
        }
    }
}
