.eco-history {
    &__head {
        position: relative;
        padding: 55px 0 45px 105px;
        margin: 0 0 90px;
        @media (max-width: 1399px) {
            padding: 55px 0 45px 50px;
        }
        @media (max-width: 767px) {
            padding: 40px 0 40px 30px;
            margin: 0 0 50px;
        }

        &:after {
            content: '';
            display: block;
            border-radius: 153px 0 0 153px;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: calc(((100vw - 100%) / 2) + 100% - 1px);
            background-image: $gradient-primary;
            z-index: 1;
        }

        &-content {
            display: flex;
            align-items: flex-start;
            width: 100%;
            position: relative;
            z-index: 2;
        }

        &-title {
            flex-shrink: 0;
            margin-right: 125px;
            @media (max-width: 1399px) {
                margin-right: 60px;
            }
        }
    }

    &__nav {
        flex-grow: 0;
        width: calc(100% - 385px);
        position: relative;
        @media (max-width: 1399px) {
            width: calc(100% - 325px);
        }
        @media (max-width: 991px) {
            width: calc(100% - 254px);
        }

        @media (max-width: 767px) {
            display: none;
        }

        $nav: &;


        &:after {
            content: '';
            display: block;
            width: calc((100vw - 1296px)/ 2);
            border-bottom: 1px solid $white-color;
            top: 40px;
            left: 100%;
            position: absolute;

            @media (max-width: 1399px) {
                width: calc((100vw - 1116px)/ 2);
            }

            @media (max-width: 1199px) {
                width: calc((100vw - 936px)/ 2);
            }

            @media (max-width: 991px) {
                width: calc((100vw - 696px)/ 2);
                top: 35px;
            }

            @media (max-width: 767px) {
                display: none;
            }
        }

        .swiper-slide {
            position: relative;

            &:after {
                content: '';
                display: block;
                width: calc(100% - 43px);
                border-bottom: 1px solid $white-color;
                top: 40px;
                right: -18px;
                position: absolute;

                @media (max-width: 991px) {
                    width: calc(100% - 33px);
                    right: -13px;
                    top: 35px;
                }
            }

            &.swiper-slide-thumb-active {
                #{$nav}-item-circle {
                    background-color: $brand-secondary;
                    &:after {
                        transform: scale(1);
                    }
                }
            }
        }

        &-item {
            position: relative;
            z-index: 3;
            width: 79px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            cursor: pointer;
            padding-top: 20px;
            @media (max-width: 991px) {
                width: 59px;
            }
        }

        &-item-circle {
            width: 43px;
            height: 43px;
            border-radius: 50%;
            margin-bottom: 36px;
            border: 1px solid $brand-secondary;
            position: relative;
            @media (max-width: 991px) {
                width: 33px;
                height: 33px;
                margin-bottom: 30px;
            }

            &:after {
                content: '';
                display: block;
                position: absolute;
                width: 78px;
                height: 78px;
                border-radius: 50%;
                background-color: $brand-secondary;
                opacity: 0.5;
                top: -18px;
                left: -18px;
                transform: scale(0);
                transition: all 0.5s;
                @media (max-width: 991px) {
                    width: 58px;
                    height: 58px;
                    top: -13px;
                    left: -13px;
                }
            }
        }

        &-item-year {
            @extend %h4;
            font-weight: 500;
            color: $light-gray-color;
        }
    }

    .swiper-history-prev,
    .swiper-history-next {
        position: absolute;

        @media (max-width: 767px) {
            top: auto;
            bottom: -10px;
        }
    }

    .swiper-history-prev {
        left: 75px;

        @media (max-width: 767px) {
            right: calc(50% + 8px);
            left: auto;
        }
    }
    .swiper-history-next {
        left: 130px;

        @media (max-width: 767px) {
            left: calc(50% + 8px);
            right: auto;
        }
    }

    &__body {
        position: relative;
    }

    &__slide {
        &-image {
            width: 403px;
            height: 403px;
            position: relative;
            margin-right: 50px;
            margin-top: 40px;
            margin-left: auto;
            @media (max-width: 1199px) {
                width: 353px;
                height: 353px;
                margin-right: auto;
                margin-left: 40px;
                margin-top: 30px;
            }
            @media (max-width: 991px) {
                margin: 30px auto 40px;
            }
            @media (max-width: 575px) {
                width: calc(100% - 30px);
                height: auto;
                padding-bottom: calc(100% - 30px);
                margin: 30px 0 40px auto;
            }

            &:before,
            &:after {
                content: '';
                display: block;
                position: absolute;
            }

            &:before {
                width: 211px;
                height: 221px;
                background-color: $light-blue-color;
                border-radius: 132.5px 0px 0px 0px;
                top: -33px;
                left: -58px;
                @media (max-width: 1199px) {
                    left: -40px;
                    top: -30px;
                    border-radius: 100px 0px 0px 0px;
                }
                @media (max-width: 575px) {
                    left: -29px;
                }
            }

            &:after {
                width: 117px;
                height: 117px;
                border-radius: 50%;
                background-color: $brand-secondary;
                bottom: 0;
                right: 5px;
                z-index: 3;
                @media (max-width: 575px) {
                    width: 90px;
                    height: 90px;
                }
            }
        }

        &-image-wrap {
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: relative;
            z-index: 2;
            border-radius: 50%;
            @media (max-width: 575px) {
                position: absolute;
                top: 0;
                left: 0;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        &-content {
        }

        &-year {
            @extend %h3;
            margin: 0 0 25px;
            @media (max-width: 767px) {
                font-size: 24px;
                font-weight: 500;
                margin: 0 0 20px;
            }
            @media (max-width: 575px) {
                font-size: 24px;
            }
        }

        &-text {
            p {
                @extend %text-s;
                color: $brown-color;
                margin: 0 0 20px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}