.eco-info-tabs {
    margin: 0 0 170px;
    $tabs: &;

    @media (max-width: 991px) {
        margin: 0 0 125px;
    }

    &__image-cont {
        display: block;
        background-color: $white-color;
        box-shadow: 0 4px 17px rgb(17 61 118 / 10%);
        border-radius: 30px;
        position: relative;
        height: 213px;
        max-width: 340px;

        img {
            margin: auto;
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }

    &.tabs_certifications {
        #{$tabs}__content {
            padding: 0;
        }
    }

    &__wrap {
        display: flex;
        align-items: center;
    }

    &__filter {
        margin: 0 auto 54px;
        width: 100%;
        max-width: 400px;
        @media (max-width: 575px) {
            max-width: 315px;
        }
    }

    &__list {
        flex-shrink: 0;
        max-width: 424px;
        position: relative;
        z-index: 2;
        padding: 135px 40px 135px 0;

        @media (max-width: 1199px) {
            padding: 100px 30px 100px 20px;
        }

        &:after {
            content: '';
            display: block;
            height: 100%;
            width: calc((100vw - 1296px)/ 2 + 424px);
            background-image: $gradient-primary;
            position: absolute;
            top: 0;
            right: 0;
            z-index: -1;
            border-radius: 0px 148px 0px 0px;

            @media (max-width: 1399px) {
                width: calc((100vw - 1116px)/ 2 + 424px);
            }

            @media (max-width: 1199px) {
                width: calc((100vw - 936px)/ 2 + 424px);
            }
        }
    }

    &__link {
        display: flex;
        align-items: center;
        margin-bottom: 70px;
        text-decoration: none;
        cursor: pointer;
        @extend %h4;
        font-weight: 500;
        color: $white-color;

        $link: &;

        &:last-child {
            margin-bottom: 0;
        }

        .icon {
            position: relative;
            width: 29px;
            height: 29px;
            flex-shrink: 0;
            border-radius: 50%;
            border: 1px solid $brand-secondary;
            margin-right: 24px;

            .icon-arrow {
                display: block;
                width: 25px;
                height: 8px;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 15px;
                margin: auto;
                overflow: hidden;

                svg {
                    vertical-align: top;
                    width: 100%;
                    transform: translateX(-25px);
                    transition: all 0.4s;
                    opacity: 0;
                }
            }
        }

        &-text {
            position: relative;

            &:after {
                content: '';
                display: block;
                width: 0;
                height: 0;
                position: absolute;
                left: 0;
                right: 0;
                bottom: -10px;
                margin: auto;
                border-bottom: 1px solid $brand-secondary;
                transition: all 0.4s;
            }
        }

        &:hover,
        &:active,
        &:focus {
            text-decoration: none;
            color: $white-color;

            .icon {
                .icon-arrow {
                    svg {
                        transform: translateX(0);
                        opacity: 1;
                    }
                }
            }

            #{$link}-text {
                &:after {
                    width: 100%;
                }
            }
        }

        &.active {
            .icon {
                .icon-arrow {
                    svg {
                        transform: translateX(0);
                        opacity: 1;
                    }
                }
            }

            #{$link}-text {
                &:after {
                    width: 100%;
                }
            }
        }
    }

    &__content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 40px 0 60px;
        @media (max-width: 991px) {
            padding: 24px 0 0;
        }
        @media (max-width: 767px) {
            text-align: center;
        }
    }

    &__image {
        margin: 0 0 70px;
        position: relative;
        width: max-content;
        @media (max-width: 991px) {
            margin: 0 0 40px;
        }
        @media (max-width: 400px) {
            width: 100%;
        }

        &:before {
            content: '';
            display: block;
            position: absolute;
            width: 211px;
            height: 221px;
            z-index: 1;
            background: $light-blue-color;
            border-radius: 0px 132.5px 0px 0px;
            right: -58px;
            top: -33px;
            @media (max-width: 767px) {
                width: 158.25px;
                height: 165.75px;
                right: -40px;
                top: -24px;
                border-radius: 0px 100px 0px 0px;
            }
            @media (max-width: 400px) {
                right: 0;
            }
        }

        &-wrap {
            width: 403px;
            height: 403px;
            border-radius: 50%;
            overflow: hidden;
            position: relative;
            z-index: 2;
            @media (max-width: 767px) {
                width: 303px;
                height: 303px;
            }
            @media (max-width: 400px) {
                width: calc(100% - 40px);
                padding-bottom: calc(100% - 40px);
                height: auto;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;

                @media (max-width: 400px) {
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
        }

        &-icon {
            position: absolute;
            width: 117px;
            height: 117px;
            bottom: 0;
            left: 5px;
            z-index: 3;
            @media (max-width: 767px) {
                width: 88px;
                height: 88px;
            }

            img {
                width: 100%;
            }
        }
    }

    &__box {
        display: none;

        @media (max-width: 767px) {
            text-align: left;
        }

        .row {
            text-align: -webkit-right;
            margin-top: -20px;
            .col-lg-6 {
                max-width: 365px;
            }
        }
        &.active {
            display: block;
        }

        &-image {
            max-width: 340px;
            max-height: 213px;
        }

        &-title {
            @extend %h3;
            margin: 0 0 20px;
            @media (max-width: 767px) {
                margin: 0 0 15px;
            }
        }

        &-text {
            @extend %text-s;
            margin: 0;
            color: $brown-color;
        }
    }

    &__certifications {
        &-item {
            margin: 0 0 27px;
            position: relative;
            padding-bottom: 63%;
            width: 100%;
            background: $white-color;
            box-shadow: $drop-shadow;
            border-radius: 30px;
            @media (max-width: 575px) {
                margin: 0 0 20px;
                border-radius: 20px;
                padding-bottom: 66%;
            }

            img {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                width: 80%;
                height: 65%;
                max-height: 135px;
                max-width: 250px;
                object-fit: contain;
            }
        }
    }
}

.eco-section_with_fixed_scroll {
    .two-columns {
        .eco-block-center {
            text-align: left;
            a {
                display: inline-flex;
            }
            .eco-block-subtitle  {
                margin-bottom: 30px!important;
            }
        }

    }
}

.eco-awards_section {
    .eco-info-tabs {
       &__link {
           margin-bottom: 92px;
       }
        &__list {
            padding-bottom: 55px;
        }
    }
}

