.eco-statistics {
    overflow: hidden;
    $stat: &;

    &.line_white {
        #{$stat}__wrap {
            padding: 50px 0 70px 140px;
            @media (max-width: 1199px) {
                padding: 50px 0 70px 60px;
            }
            @media (max-width: 991px) {
                padding: 56px 0 17px 60px;
            }
            @media (max-width: 400px) {
                padding: 56px 0 17px 30px;
            }

            &:after {
                height: calc(100% - 10px);
                top: 0;
                background-image: none;
                background-color: $white-color;
                box-shadow: $drop-shadow;
            }
        }
        #{$stat}__col {
            color: $light-blue-text-color;
        }
    }

    &.position_left {
        #{$stat}__wrap {
            padding: 50px 140px 60px 0;

            @media (max-width: 991px) {
                padding: 50px 140px 40px 0;
            }
            @media (max-width: 575px) {
                padding: 40px 0 20px 20px;
            }

            &:after {
                left: auto;
                right: 0;
                border-radius: 0 500px 500px 0;
                @media (max-width: 991px) {
                    border-radius: 0 50px 50px 0;
                }
                @media (max-width: 575px) {
                    right: 1px;
                }
            }
        }
    }

    &.pos_top {
        margin-top: -65px;
        position: relative;
        z-index: 3;
    }

    &.pos_banner {
        position: relative;
        z-index: 3;
    }

    &.decoration_none {
        #{$stat}__col-number {
            text-transform: none;
        }
    }

    &__wrap {
        padding: 50px 0 60px 140px;
        position: relative;
        @media (max-width: 1199px) {
            padding: 50px 0 40px 60px;
        }
        @media (max-width: 991px) {
            padding: 56px 0 7px 60px;
        }
        @media (max-width: 400px) {
            padding: 56px 0 7px 30px;
        }

        &:after {
            content: '';
            display: block;
            border-radius: 500px 0 0 500px;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: calc(((100vw - 100%) / 2) + 100% - 1px);
            background-image: $gradient-primary;

            z-index: 1;
            @media (max-width: 991px) {
                border-radius: 80px 0 0 80px;
            }
            @media (max-width: 575px) {
                border-radius: 50px 0 0 50px;
            }
        }
    }

    &__list {
        display: flex;
        align-items: stretch;
        position: relative;
        z-index: 2;
        @media (max-width: 991px) {
            flex-wrap: wrap;
        }
    }

    &__col {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 30px;
        position: relative;
        color: $white-color;
        flex-grow: 1;
        max-width: 100%;
        @media (max-width: 1399px) {
            width: 25%;
            padding-left: 20px;
        }
        @media (max-width: 1199px) {
            padding-left: 15px;
        }
        @media (max-width: 991px) {
            max-width: none;
            width: 50%;
            margin-bottom: 56px;
            padding-left: 30px;
            padding-right: 15px;
        }
        @media (max-width: 767px) {
            padding-left: 20px;
            align-self: stretch;
        }

        &:last-child {
            flex-grow: 0;
        }

        &:before {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            top: 0;
            left: 0;
            margin: auto;
            width: 4px;
            height: 100%;
            border-radius: 4px;
            background-color: $brand-secondary;
            @media (max-width: 767px) {
                height: 100%;
                top: 0;
            }
        }

        &-number {
            @extend %h1;
            font-weight: 500;
            margin: 0 0 3px;
            text-transform: uppercase;
            font-size: 40px;
            @media (max-width: 1199px) {
                font-size: 36px;
            }
            @media (max-width: 767px) {
                margin: 0 0 15px;
            }

            &-count {
                display: flex;
            }

            &-after {
                font-size: 40px;
                text-transform: uppercase;

                @media (max-width: 1199px) {
                    font-size: 36px;
                }
            }
        }

        &-text {
            @extend %text-s;
            margin: 0;
        }
    }
}
