.eco-invite {
    margin: 0 0 170px;
    @media (max-width: 991px) {
        margin: 0 0 120px;
    }

    &__wrap {
        padding: 105px 45px 103px 120px;
        position: relative;
        @media (max-width: 1399px) {
            padding: 105px 0px 103px 60px;
        }
        @media (max-width: 991px) {
            padding: 60px 20px 60px 60px;
        }
        @media (max-width: 375px) {
            padding: 60px 0 60px 40px;
        }

        &:after {
            content: '';
            display: block;
            border-radius: 500px 0px 0px 500px;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: calc(((100vw - 100%) / 2) + 100%);
            background-image: linear-gradient(95.84deg,#093164 -1.55%,#0e4895 -1.54%,#05254f 100%);
            z-index: 1;
            @media (max-width: 991px) {
                border-radius: 80px 0 0 80px;
            }
        }
    }

    &__content {
        position: relative;
        z-index: 2;
        align-items: center;
        justify-content: space-between;
        @media (max-width: 991px) {
            align-items: flex-start;
        }

        .eco-block-title {
            margin: 0;

            @media (max-width: 991px) {
                margin: 0 0 45px;
            }
            @media (max-width: 575px) {
                font-size: 24px;
            }
        }

        .eco-block-subtitle {
            margin: 12px 0 0;
            @media (max-width: 991px) {
                margin: -30px 0 28px;
            }
            @media (max-width: 575px) {
                font-size: 18px;
            }
        }
    }
}


