.eco-main-banner {
    position: relative;
    margin-bottom: 300px;

    &__content {
        padding: 220px 0 110px;
        position: relative;
        z-index: 3;

        @media (max-width: 991px) {
            position: relative;
            padding: 45px 0 70px;
        }

        .eco-block-subtitle {
            font-weight: 500;
            color: $light-blue-text-color;
            margin: 0 0 15px;
        }

        .eco-block-title {
            @extend %h1;
            color: $dark-blue-color;
        }
    }

    &__bg {
        position: absolute;
        z-index: 1;
        height: 100%;
        width: 100%;
        overflow: hidden;
        @media (max-width: 991px) {
            position: relative;
            height: 450px;
        }
        @media (max-width: 767px) {
            height: 330px;
        }

        &-image {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1;
            height: 100%;
            width: 60%;
            overflow: hidden;
            max-height: 810px;
            @media (max-width: 1399px) {
                width: 65%;
            }
            @media (max-width: 1199px) {
                width: 70%;
            }
            @media (max-width: 991px) {
                width: 1171px;
                height: 1171px;
                border-radius: 50%;
                bottom: 0;
                top: auto;
                left: calc((100vw - 1171px) / 2);
            }
            @media (max-width: 767px) {
                width: 971px;
                height: 971px;
                left: calc((100vw - 971px) / 2);
            }

            img {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                right: 0;
                object-fit: cover;
                object-position: center;
                max-height: 810px;
                @media (max-width: 991px) {
                    width: 100vw;
                    height: 450px;
                    top: auto;
                    bottom: 0;
                    left: 0;
                    margin: auto;
                }
            }
        }

        &-circle {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            width: 52%;
            height: 100%;
            @media (max-width: 1399px) {
                width: 45%;
            }
            @media (max-width: 1199px) {
                width: 50%;
            }
            @media (max-width: 991px) {
                top: -150px;
                left: 490px;
                z-index: 0;
            }
            &:before {
                content: '';
                display: block;
                width: 2193px;
                height: 2193px;
                border-radius: 50%;
                position: absolute;
                top: -760px;
                right: 0;
                background-color: $white-color;
                background-image: url("../img/mb-bg.png");
                background-size: 710px 953px;
                background-position: 100% 750px;
                background-repeat: no-repeat;

            }
        }
    }
}
