.eco-map {
    &__head {
        text-align: center;
        @media (max-width: 575px) {
            text-align: left;
        }
    }

    &__box {
        position: relative;
    }

    &__wrap {
        width: 100%;
        position: relative;
        z-index: 1;

        svg {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__points {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
    }

    &__point {
        position: absolute;
        &.point1 {
            top: 17%;
            left: 13%;
        }
        &.point2 {
            top: 44%;
            left: 22%;
        }
        &.point3 {
            top: 28%;
            left: 39%;
        }
        &.point4 {
            top: 31%;
            left: 55%;
        }
        &.point5 {
            top: 69%;
            left: 43%;
        }
        &.point6 {
            top: 30%;
            left: 63%;
        }
        &.point7 {
            top: 48%;
            left: 78%;
        }

        &-circle {
            height: 13px;
            width: 13px;
            border-radius: 50%;
            background-color: $brand-secondary;
            animation: pulse-animation 2s infinite;
            cursor: pointer;
            @media (max-width: 767px) {
                height: 10px;
                width: 10px;
            }

            &:after {
                content: '';
                display: block;
                position: absolute;
                top: -56px;
                left: -56px;
                width: 125px;
                height: 125px;
                background: radial-gradient(50% 50% at 50% 50%, $light-blue-color 0%, rgba(19, 71, 138, 0) 100%);
                filter: blur(5.5px);
                border-radius: 50%;
                z-index: -1;
                opacity: 0.6;
                @media (max-width: 991px) {
                    top: -30px;
                    left: -30px;
                    width: 62px;
                    height: 62px;
                }
            }
        }
    }
}


@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px rgba(183, 229, 136, 0.4);
    }
    100% {
        box-shadow: 0 0 0 20px rgba(183, 229, 136, 0);
    }
}
