.eco-modal {
    position: fixed;
    z-index: 102;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all 0.4s;
    background: linear-gradient(95.84deg, rgba(9, 49, 100,0.9) -1.55%, rgba(14, 72, 149,0.9) -1.54%, rgba(5, 37, 79,0.9) 100%);
    opacity: 0;
    visibility: hidden;

    $modal: &;

    &.show {
        opacity: 1;
        visibility: visible;
        #{$modal}__wrap {
            transform: none;
        }
    }

    &__wrap {
        width: auto;
        max-width: 854px;
        margin: 50px auto 0;
        transition: transform .3s ease-out;
        transform: translate(0,-50px);
        @media (max-width: 991px) {
            max-width: none;
            margin: 50px 15px;
        }
    }

    &__content {
        background: $white-color;
        border: 0.25px solid rgba(1, 37, 80, 0.09);
        box-shadow: -5px 5px 10px rgba(8, 19, 35, 0.05);
        border-radius: 20px;
        position: relative;
        padding: 60px 100px 70px;
        min-height: 500px;
        @media (max-width: 991px) {
            padding: 50px 40px 60px;
        }
        @media (max-width: 767px) {
            padding: 45px 20px;
        }
        @media (max-width: 575px) {
            padding: 40px 15px;
        }
        video {
            width: 100%;
        }
        iframe {
            width: 100%;
            height: 400px;
        }
    }

    &__close {
        position: absolute;
        top: 35px;
        right: 35px;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $brand-secondary;
        border-radius: 50%;
        cursor: pointer;
        @media (max-width: 767px) {
            width: 40px;
            height: 40px;
            top: 20px;
            right: 20px;
        }
        @media (max-width: 575px) {
            width: 30px;
            height: 30px;
            top: 15px;
            right: 15px;
        }

        svg {
            vertical-align: top;
            width: 18px;
            height: 18px;
            @media (max-width: 575px) {
                width: 13px;
                height: 13px;
            }
        }
    }

    &__title {
        @extend %h3;
        color: $dark-blue-color;
        @media (max-width: 767px) {
            padding-right: 30px;
        }
    }
}
.select2-container {
    &--default {
        .select2-results {
            &__option {
                font-size: 16px!important;
                padding: 19px!important;

                &--highlighted.select2-results__option {
                    &--selectable {
                        background-color: $light-gray-color!important;
                        font-weight: 500;
                        color: $dark-blue-color!important;
                    }
                }
            }

            & > .select2-results__options {
                max-height: 242px!important;
            }
        }
    }
}
.select2-dropdown {
    background-color: transparent;
    border: 1px solid $light-blue-text-color;
    border-radius: 24px;
    //overflow: hidden;
    position: relative;

    &::before,
    &::after {
        content: '';
        display: block;
        width: 1px;
        height: 40px;
        position: absolute;
        top: -25px;
    }

    &::before {
        border-left: 1px solid $light-blue-text-color;
        left: -1px;
    }

    &::after {
        border-right: 1px solid $light-blue-text-color;
        right: -1px;
    }

    .select2-results {
        background-color: $white-color;
        border-bottom-left-radius: 24px;
        border-bottom-right-radius: 24px;
        overflow: hidden;

        &__options {
            &::-webkit-scrollbar {
                width: 4px;
            }

            &::-webkit-scrollbar-track {
                background-color: $white-color;
            }

            &::-webkit-scrollbar-thumb {
                background-color: $light-blue-text-color;
            }
        }
    }
}