.eco-article {
    margin: 125px 0 170px;
    @media (max-width: 991px) {
        margin-bottom: 125px;
    }

    &__content {
        padding-bottom: 30px;
        margin: 0 0 40px;
        border-bottom: 1px solid $dark-blue-color;

        h1, h2, h3, h4, h5, h6 {
            margin: 0 0 20px;
            @media (max-width: 767px) {
                font-weight: 500;
            }
        }

        p {
            @extend %text-l;
            color: $brown-color;
            margin: 0 0 24px;
        }

        time {
            display: block;
            @extend %text-s;
            color: $light-blue-text-color;
            margin: 0 0 30px;
            @media (max-width: 767px) {
                margin: 0 0 20px;
            }
        }

        img {
            width: 100%;
            border-radius: 30px;
            margin: 0 0 50px;
            @media (max-width: 767px) {
                margin: 0 0 35px;
                border-radius: 15px;
            }
        }

        ul {
            margin: 0 0 24px;
            padding: 0 0 0 20px;

            & > li {
                @extend %text-l;
                color: $brown-color;
                margin: 0 0 10px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        ol {
            margin: 0 0 24px;
            padding: 0 0 0 20px;

            & > li {
                @extend %text-l;
                color: $brown-color;
                margin: 0 0 10px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        a {
        }

        p + h3,
        ul + h3,
        ol + h3 {
            margin-top: 50px;
        }
    }

    &__author {
        position: relative;
        padding-top: 50px;
        @media (max-width: 767px) {
            padding-top: 100px;
        }

        &-photo {
            width: 213px;
            height: 213px;
            flex-shrink: 0;
            overflow: hidden;
            box-shadow: $drop-shadow;
            border-radius: 30px;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 3;
            @media (max-width: 767px) {
                width: 163px;
                height: 163px;
                border-radius: 12px;
            }
            @media (max-width: 370px) {
                border-radius: 12px 12px 12px 0;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        &-info {
            width: calc(100% - 125px);
            margin-left: 96px;
            padding: 45px 110px 55px 142px;
            position: relative;
            z-index: 2;
            background: $white-color;
            box-shadow: $drop-shadow;
            border-radius: 0px 20px 0px 0px;
            @media (max-width: 991px) {
                padding: 45px 50px 55px 142px;
            }
            @media (max-width: 767px) {
                width: calc(100% - 53px);
                margin-left: 35px;
                padding: 90px 20px 80px;
            }
            @media (max-width: 370px) {
                width: calc(100% - 18px);
                margin-left: 0px;
            }

            p {
                @extend %text-s;
                color: $dark-black-color;
                margin: 0;
            }

            a {
                text-decoration: none;
                color: $light-blue-text-color;
                transition: all 0.4s;

                &:hover {
                    text-decoration: none;
                    color: $brand-primary;
                }
            }
        }

        &-bg {
            position: absolute;
            width: 157px;
            height: 151px;
            background-color: $light-blue-color;
            border-radius: 0 30px 0 0;
            top: 20px;
            right: 0px;
            z-index: -1;
            @media (max-width: 767px) {
                top: 80px;
            }
            @media (max-width: 370px) {
                width: 120px;
            }
        }
    }
}
.eco-person_highlight {
    position: relative;
}