.eco-news-two-card {
  margin: 0 0 130px;
  @media screen and (max-width: 991px) {
    margin-bottom: 50px;
  }
}

.eco-news-one-card {
  position: relative;
  margin-bottom: 80px;
  @media screen and (max-width: 991px) {
    margin-bottom: 30px;
  }
  $news: &;

  &:hover {
    cursor: pointer;

    &:after {
      bottom: -20px;
      right: -20px;
    }

    #{$news}__wrap {
      border-radius: 0 0 30px 0;
      box-shadow: none;

      &:after {
        transform: scale(1);
      }
    }

    #{$news}__content {
      border-color: $white-color;

      .eco-btn {
        opacity: 1;
      }
    }
  }

  &:after {
    content: '';
    display: block;
    width: 207px;
    height: 151px;
    background: $light-blue-color;
    border-radius: 0 0 30px 0;
    position: absolute;
    bottom: 1px;
    right: 1px;
    transition: all 0.4s;
  }

  &__wrap {
    position: relative;
    z-index: 2;
    overflow: hidden;
    background-color: $white-color;
    box-shadow: $box-shadow;
    border-radius: 30px;
    transition: all 0.25s;

    &:after {
      content: '';
      display: block;
      width: 400px;
      height: 400px;
      border-radius: 50%;
      background: $light-gray-color;
      position: absolute;
      left: -210px;
      bottom: -200px;
      transform: scale(0);
      transition: all 0.4s;
      z-index: -1;
    }
  }

  &__content {
    border: 1px solid rgba(1, 37, 80, 0.09);
    border-top: none;
    padding: 26px 57px 35px;
    transition: all 0.4s;

    .eco-btn {
      opacity: 0;
    }
  }

  &__tags {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0 0 14px;

    & > li {
      margin-right: 14px;
      position: relative;

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: -7px;
        margin: auto;
        width: 0;
        height: 18px;
        border-right: 2px solid $light-blue-text-color;
      }

      &:last-child {
        margin-right: 0;

        &:after {
          display: none;
        }
      }

      & > a {
        @extend %text-s;
        font-weight: 500;
        text-decoration: none;
        color: $light-blue-text-color;
        transition: all 0.4s;

        &:hover,
        &:focus,
        &:active {
          text-decoration: none;
          color: $dark-blue-color;
        }
      }
    }
  }

  &__title {
    @extend %h5;
    font-weight: 500;
    text-transform: capitalize;
    height: 48px;
    color: $dark-blue-color;
    margin: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  &__text {
    height: 130px;
    margin-bottom: -20px;

    p {
      @extend %text-s;
      color: $brown-color;
      margin: 0;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
    }
  }
}
