.eco-news {
    margin: 0 0 130px;

    @media (max-width: 575px) {
        margin: 0 0 100px;
    }
}

.eco-filter {
    margin: 0 0 72px;

    @media (max-width: 1199px) {
        margin: 0 0 50px;
    }

    @media (max-width: 767px) {
        margin: 0 0 45px;
    }

    @media (max-width: 575px) {
        margin-bottom: 18px;
    }

    &__title {
        @extend %h4;
        font-weight: 500;
        color: $dark-blue-color;
        margin: 0 0 28px;
        @media (max-width: 767px) {
            margin: 0 0 18px;
        }
    }

    &__row {
        @media (max-width: 575px) {
            flex-direction: column;
        }

        .eco-field-form {
            flex-grow: 1;
            margin-right: 24px;
            @media (max-width: 575px) {
                margin-right: 0;
            }
        }

        .eco-btn {
            flex-shrink: 0;
            align-self: flex-start;
        }
    }
}

.eco-news-card {
    position: relative;
    margin-bottom: 80px;
    @media (max-width: 767px) {
        margin-bottom: 30px;
    }

    $news: &;

    &.news_short {
        margin-bottom: 20px;
        transition: all 0.4s;

        @media (min-width: 992px) {
            #{$news}__text {
                margin: 0;
            }
        }

        &:hover {
            #{$news}__btn {
                height: 30px;
                .eco-btn {
                    transform: translateY(0);
                }
            }
        }
    }

    &.news_min {
        margin-bottom: 0;

        &:after {
            position: absolute;
            width: 216.44px;
            height: 151px;
            border-radius: 0 0 32px 0;
        }

        &:hover {
            box-shadow: $drop-shadow;
            &:after {
                right: -24px;
                bottom: -21px;
            }

            #{$news}__btn {
                height: 30px;
                .eco-btn {
                    transform: translateY(0);
                }
            }
        }

        #{$news}__wrap {
        }
    }

    &:hover {
        &:after {
            bottom: -20px;
            right: -20px;

            @media (max-width: 575px) {
                bottom: -10px;
                right: -10px;
            }
        }

        #{$news}__wrap {
            border-radius: 0 0 30px 0;
            box-shadow: none;

            &:after {
                transform: scale(1);
            }
        }

        #{$news}__content {
            border-color: $white-color;

            .eco-btn {
                opacity: 1;
            }
        }
    }

    &:after {
        content: '';
        display: block;
        width: 207px;
        height: 151px;
        background: $light-blue-color;
        border-radius: 0 0 30px 0;
        position: absolute;
        bottom: 1px;
        right: 1px;
        transition: all 0.4s;
    }

    &__wrap {
        position: relative;
        z-index: 2;
        overflow: hidden;
        background-color: $white-color;
        box-shadow: $box-shadow;
        border-radius: 30px;
        transition: all 0.25s;

        &:after {
            content: '';
            display: block;
            width: 400px;
            height: 400px;
            border-radius: 50%;
            background: $light-gray-color;
            position: absolute;
            left: -210px;
            bottom: -200px;
            transform: scale(0);
            transition: all 0.4s;
            z-index: -1;
            @media (max-width: 767px) {
                transform: scale(1);
                width: 200px;
                height: 142px;
                border-radius: 0px 400px 0px 0px;
                bottom: 0;
                left: 0;
            }
        }
    }

    &__image {
        background-color: $light-gray-color;
        position: relative;
        padding-bottom: 82%;
        overflow: hidden;
        @media (max-width: 767px) {
            padding-bottom: 76%;
        }

        img {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;
            object-position: center;
        }
    }

    &__content {
        border: 1px solid rgba(1, 37, 80, 0.09);
        border-top: none;
        padding: 20px;
        transition: all 0.4s;
        @media (max-width: 767px) {
            padding: 35px 20px;
        }


        .eco-btn {
            opacity: 0;
            margin-top: 10px;
            @media (max-width: 767px) {
                opacity: 1;
            }
        }

    }

    &__btn {
        transition: all 0.4s;
        height: 0;
        overflow: hidden;
        transform: translateY(16px);

        .eco-btn {
            transform: translateY(50px);
        }
    }

    &__tags {
        list-style: none;
        display: flex;
        align-items: center;
        padding: 0;
        margin: 0 0 14px;

        & > li {
            margin-right: 14px;
            position: relative;

            &:after {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
                right: -7px;
                margin: auto;
                width: 0;
                height: 18px;
                border-right: 2px solid $light-blue-text-color;
            }

            &:last-child {
                margin-right: 0;

                &:after {
                    display: none;
                }
            }

            & > a {
                @extend %text-s;
                font-weight: 500;
                text-decoration: none;
                color: $light-blue-text-color;
                transition: all 0.4s;

                &::after {
                    content: ',';
                }

                &:hover {
                    text-decoration: none;
                    color: $dark-blue-color;
                }

                &:last-child {
                    &::after {
                        display: none;
                    }
                }
            }
        }
    }

    &__title {
        @extend %h5;
        font-weight: 500;
        color: $dark-blue-color;
        text-transform: capitalize;
        margin-bottom: 20px;

        @media (max-width: 767px) {
            margin-bottom: 12px;
        }
    }

    &__text {
        height: 130px;
        margin: 0 0 16px;
        @media (max-width: 767px) {
            height: auto;
            margin: 0 0 30px;
        }

        p {
            @extend %text-s;
            color: $brown-color;
            margin: 0;
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
        }
    }
}

.eco-two_blocks {
    position: relative;
    margin-bottom: 80px;
    @media (max-width: 767px) {
        margin: 0 0 30px;
    }

    $news: &;

    &.news_short {
        transition: all 0.4s;

        #{$news}__text {
            margin: 0;
        }

        &:hover {
            margin-bottom: -46px;

            #{$news}__content {
                padding-bottom: 46px;
            }

            #{$news}__btn {
                height: 30px;
                .eco-btn {
                    transform: translateY(0);
                }
            }
        }
    }

    &.news_min {
        margin-bottom: 0;
        max-width: 592px;
        &:after {
            position: absolute;
            width: 216.44px;
            height: 151px;
            border-radius: 0px 0px 32px 0px;
        }

        &:hover {
            box-shadow: $drop-shadow;
            &:after {
                right: -24px;
                bottom: -21px;
            }

            #{$news}__btn {
                height: 30px;
                .eco-btn {
                    transform: translateY(0);
                }
            }
        }

        #{$news}__wrap {
        }
    }

    &:hover {
        cursor: pointer;

        &:after {
            bottom: -20px;
            right: -20px;
        }

        #{$news}__wrap {
            border-radius: 0 0 30px 0;
            box-shadow: none;

            &:after {
                transform: scale(1);
            }
        }

        #{$news}__content {
            border-color: $white-color;

            .eco-btn {
                opacity: 1;
            }
        }
    }

    &:after {
        content: '';
        display: block;
        width: 207px;
        height: 151px;
        background: $light-blue-color;
        border-radius: 0 0 30px 0;
        position: absolute;
        bottom: 1px;
        right: 1px;
        transition: all 0.4s;
    }

    &__wrap {
        position: relative;
        z-index: 2;
        overflow: hidden;
        background-color: $white-color;
        box-shadow: $box-shadow;
        border-radius: 30px;
        transition: all 0.25s;

        &:after {
            content: '';
            display: block;
            width: 400px;
            height: 400px;
            border-radius: 50%;
            background: $light-gray-color;
            position: absolute;
            left: -210px;
            bottom: -200px;
            transform: scale(0);
            transition: all 0.4s;
            z-index: -1;
            @media (max-width: 767px) {
                transform: scale(1);
                width: 200px;
                height: 142px;
                border-radius: 0px 400px 0px 0px;
                bottom: 0;
                left: 0;
            }
        }
    }

    &__image {
        position: relative;
        padding-bottom: 82%;
        overflow: hidden;
        @media (max-width: 767px) {
            padding-bottom: 76%;
        }

        img {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;
            object-position: center;
        }
    }

    &__content {
        border-top: none;
        padding: 26px 0 17px;
        max-width: 475px;
        margin: auto;
        transition: all 0.4s;
        @media (max-width: 1199px) {
            padding: 26px 20px;
        }
        @media (max-width: 767px) {
            padding: 35px 20px;
        }


        .eco-btn {
            opacity: 0;
            @media (max-width: 767px) {
                opacity: 1;
            }
        }

    }

    &__btn {
        transition: all 0.4s;
        //height: 0;
        overflow: hidden;
        transform: translateY(16px);
        height: 30px;
        margin-bottom: 20px;
        .eco-btn {
            transform: translateY(50px);
        }
    }

    &__tags {
        list-style: none;
        display: flex;
        align-items: center;
        padding: 0;
        margin: 0 0 14px;

        & > li {
            margin-right: 14px;
            position: relative;

            &:after {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
                right: -7px;
                margin: auto;
                width: 0;
                height: 18px;
                border-right: 2px solid $light-blue-text-color;
            }

            &:last-child {
                margin-right: 0;

                &:after {
                    display: none;
                }
            }

            & > a {
                @extend %text-s;
                font-weight: 500;
                text-decoration: none;
                color: $light-blue-text-color;
                transition: all 0.4s;

                &:hover,
                &:focus,
                &:active {
                    text-decoration: none;
                    color: $dark-blue-color;
                }
            }
        }
    }

    &__title {
        @extend %h5;
        font-weight: 500;
        text-transform: capitalize;
        height: 48px;
        color: $dark-blue-color;
        margin: 0 0 8px;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        @media (max-width: 767px) {
            height: auto;
            margin: 0 0 13px;
        }
    }

    &__text {
        height: 100%;
        margin: 0;
        @media (max-width: 767px) {
            height: auto;
            margin: 0 0 30px;
        }
        @extend %text-s;
        color: $brown-color;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;

    }
}
