.eco-partners {
    overflow: hidden;

    &__wrap {
        position: relative;
        .swiper {
            @media (max-width: 991px) {
                overflow: initial;
            }
        }

        .swiper-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .swiper-slide {
            @media (max-width: 1199px) {
                width: fit-content!important;
            }
        }
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: 1199px) {
            width: fit-content;
        }

        img {
            max-width: 235px;
            max-height: 72px;
            @media (max-width: 1199px) {
                max-width: 200px;
                max-height: 60px;
            }
            @media (max-width: 991px) {
                max-width: 190px;
                max-height: 55px;
            }
            @media (max-width: 575px) {
                max-width: 175px;
                max-height: 41px;
            }
        }
    }
}