.eco-privacy-policy {
    &__block {
        margin-bottom: 70px;
        @media (max-width: 991px) {
            margin-bottom: 50px;
        }
    }

    &__content {
        margin: auto;
        max-width: 1030px;
        @media (max-width: 991px) {
            margin-bottom: 50px;
            margin-top: 150px;
        }
        @media (max-width: 767px) {
           margin: 0;
        }

        h2 {
            @extend %h2;
            margin-bottom: 31px;
        }

        h4 {
            @extend %h4;
            color: $light-blue-text-color;
            font-weight: 500;
        }

        h5 {
            @extend %text-l;
            margin-bottom: 18px;
        }

        ul {
            margin-bottom: 10px;

            & > li {
                @extend %text-s;
                margin-bottom: 10px;
            }
        }

        b {
            @extend %text-s;
            color: $light-blue-text-color;
        }

        p {
            @extend %text-s;
            margin-bottom: 12px;
        }

        a {
            @extend %text-s;
            text-decoration: underline;
            color: $light-blue-text-color;
            transition: all 0.4s;

            &:hover,
            &:active,
            &:focus {
                text-decoration: underline;
                color: $darker-blue-color;
            }
        }

        &__brown-color-text {
            @extend %text-s;
            margin-bottom: 12px;
            color: $brown-color;

            &__link {
                text-decoration: underline;
            }
        }
    }
}

.eco-text_section {
    .eco-block-subtitle {
        margin: 0;
        a {
            font-weight: bold;
        }
        h5 {
            line-height: 160%;
        }
    }
}