.eco-two_column_content {
    margin-bottom: 90px;

    &__content {
        color: $white-color;
        background-image: $gradient-primary;
        padding: 95px 5px;
        border-radius: 30px;
        @media (max-width: 991px) {
            padding: 0;
        }

        p {
            margin: 24px 0;
        }
    }

    &__column {
        padding: 0 50px;
        height: 100%;
        @media (max-width: 991px) {
            padding: 60px 25px;
        }

        &:nth-child(1) {
            position: relative;

            &:before {
                position: absolute;
                top: 0;
                left: -15px;
                content: '';
                height: 100%;
                width: 1px;
                background-color: white;
                @media (max-width: 991px) {
                    left: auto;
                    height: 1px;
                    width: 93%;
                    max-width: 642px;
                    top: -1px;
                }
                @media (max-width: 767px) {
                    max-width: 90%;
                }
                @media (max-width: 520px) {
                    max-width: 88%;
                }
                @media (max-width: 440px) {
                    max-width: 86%;
                }
                @media (max-width: 370px) {
                    max-width: 84%;
                }
                @media (max-width: 330px) {
                    max-width: 82%;
                }
                @media (max-width: 300px) {
                    max-width: 80%;
                }
            }
        }

        ul {
            padding-left: 21px;
            margin-bottom: 0;
            margin-left: 0;
            list-style: none;

            li {
                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    border: 1px solid $brand-secondary;
                    top: 6px;
                    left: -21px;
                }
            }
        }
    }
}