.eco-recent {
    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &--desktop {
            display: none;

            @media (min-width: 992px) {
                display: flex;
            }
        }

        &--mobile {
            margin: 15px auto 0;
            max-width: 95px;

            @media (min-width: 992px) {
                display: none;
            }
        }
    }

    &__wrap {
        margin-left: -30px;
        position: relative;
        width: calc(100% + 60px);

        @media (max-width: 767px) {
            margin-left: calc((100% - 100vw) / 2);
            width: 100vw;
        }

        .swiper {
            padding: 0 25px;

            @media (max-width: 767px) {
                padding: 0 17px;
            }
        }

        .swiper-wrapper {
            display: flex;
            align-items: stretch;
        }

        .swiper-slide {
            height: auto;
            padding: 0 5px;
            @media (max-width: 767px) {
                padding: 0;
                width: 305px;
            }
        }
    }

    //.swiper-recent-news-prev,
    //.swiper-recent-news-next {
    //    position: absolute;
    //    top: -90px;
    //    bottom: auto;
    //    @media (max-width: 991px) {
    //        top: auto;
    //        bottom: -45px;
    //    }
    //}
    //
    //.swiper-recent-news-prev {
    //    right: 55px;
    //    left: auto;
    //    @media (max-width: 991px) {
    //        left: auto;
    //        right: calc(50% + 8px);
    //    }
    //}
    //
    //.swiper-recent-news-next {
    //    right: 0;
    //    left: auto;
    //    @media (max-width: 991px) {
    //        right: auto;
    //        left: calc(50% + 8px);
    //    }
    //}
}
