.eco-reviews {
    margin: 0 0 140px;

    &__wrap {
        position: relative;
        width: calc(100% + 60px);
        margin-left: -30px;
        margin-top: -30px;
        @media (max-width: 991px) {
            width: 100vw;
            margin-left: calc((100% - 100vw) / 2);
        }

        .swiper {
            padding: 30px 25px;
            @media (max-width: 767px) {
                padding: 30px 17px;
            }
        }

        .swiper-wrapper {
        }

        .swiper-slide {
            padding: 0 5px;
            @media (max-width: 767px) {
                padding: 0;
                width: 305px;
            }
        }

        .swiper-reviews-prev,
        .swiper-reviews-next {
            position: absolute;
            bottom: auto;
            top: -40px;
            @media (max-width: 1199px) {
                top: -25px;
            }
            @media (max-width: 991px) {
                top: auto;
                bottom: -45px;
            }
        }

        .swiper-reviews-prev {
            right: 85px;
            left: auto;
            @media (max-width: 991px) {
                left: auto;
                right: calc(50% + 8px);
            }
        }

        .swiper-reviews-next {
            right: 30px;
            left: auto;
            @media (max-width: 991px) {
                right: auto;
                left: calc(50% + 8px);
            }
        }
    }

    &__head {
        text-align: center;
    }

    &__item {
        box-shadow: $box-shadow;
        border-radius: 12px;
        transition: all 0.4s;
        position: relative;

        &:after {
            content: '';
            display: block;
            position: absolute;
            z-index: -1;
            width: 151px;
            height: 222px;
            background: $light-blue-color;
            border-radius: 32px 0 0 0;
            top: 1px;
            left: 1px;
            transition: all 0.25s;
            @media (max-width: 991px) {
                top: -17px;
                left: -13px;
            }
        }

        $item: &;

        &:hover {
            border-radius: 25px 0 0 0;

            #{$item}-wrap {
                border-radius: 25px 0 0 0;
                border-color: transparent;

                .eco-btn {
                    opacity: 1;
                    transform: translateY(0);
                }
            }

            #{$item}-text {
                margin: 0 0 20px;
                @media (max-width: 991px) {
                    margin: 0 0 15px;
                }
            }

            #{$item}-author {
                margin: 0 0 40px;
                @media (max-width: 991px) {
                    margin: 0 0 24px;
                }
            }

            #{$item}-link {
                height: 30px;
            }

            #{$item}-bg:before {
                transform: scale(1);
            }

            &:after {
                top: -30px;
                left: -30px;
                @media (max-width: 1199px) {
                    top: -20px;
                    left: -20px;
                }
                @media (max-width: 767px) {
                    top: -17px;
                    left: -13px;
                }
            }
        }


        &-wrap {
            background: $white-color;
            border: 1px solid rgba(1, 37, 80, 0.09);
            box-shadow: $drop-shadow;
            border-radius: 12px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            min-height: 330px;
            padding: 27px;
            overflow: hidden;
            position: relative;
            z-index: 2;
            transition: all 0.4s;

            .eco-btn {
                opacity: 0;
                transform: translateY(50px);

                @media (max-width: 991px) {
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        }

        &-bg {
            display: block;
            position: absolute;
            z-index: -1;
            width: 200px;
            height: 142px;
            bottom: 0;
            left: 0;
            overflow: hidden;

            &:before {
                content: '';
                display: block;
                position: absolute;
                width: 400px;
                height: 400px;
                left: -200px;
                top: 0;
                background: $light-gray-color;
                border-radius: 50%;
                transition: all 0.4s;
                transform: scale(0);
                @media (max-width: 991px) {
                    transform: scale(1);
                }
            }
        }

        &-link {
            overflow: hidden;
            height: 0;
            transition: all 0.4s;

            @media (max-width: 991px) {
                height: 30px;
            }
        }

        &-text {
            @extend %text-s;
            margin: 0 0 40px;
            color: $brown-color;
            transition: all 0.4s;
            @media (max-width: 991px) {
                margin: 0 0 15px;
            }
        }

        &-author {
            @extend %text-s;
            font-weight: 500;
            color: $dark-blue-color;
            margin: 0;
            transition: all 0.4s;
            @media (max-width: 991px) {
                margin: 0 0 24px;
            }
        }
    }
}
.eco-testimonials {
    .container {
        margin-bottom: -30px;
    }
    .eco-recent__head {
        margin-bottom: 30px;
    }
}
.eco-recent__head {
    margin-bottom: 51px;
    @media (max-width: 991px) {
        margin-bottom: 30px;
    }
}
.swiper-button-center {
    margin: auto;
}
