.eco-simple-slider {
    margin: 0 0 150px;
    @media (max-width: 991px) {
        margin: 0 0 125px;
    }

    &__wrap {
        position: relative;
        width: calc(100% + 60px);
        margin-left: -30px;
        margin-top: -30px;

        @media (max-width: 991px) {
            width: 100vw;
            margin-left: calc((100% - 100vw) / 2);
        }

        .swiper {
            padding: 30px 25px;
            @media (max-width: 767px) {
                padding: 30px 17px;
            }
        }

        .swiper-wrapper {
        }

        .swiper-slide {
            padding: 0 5px;
            @media (max-width: 767px) {
                padding: 0;
                width: 305px;
            }
        }
    }
}
.eco-three_Image_rotation {
    .container {
        margin-bottom: -40px;
    }
}