.eco-slider-project-page {
    position: relative;

    .container {
        .container-small {
            position: relative !important;
            padding: 0 100px;
            max-width: 1230px;
            @media (max-width: 991px) {
                padding: 0 65px;
            }
            @media (max-width: 575px) {
                padding: 0;
            }
        }
    }

    .swiper {
        width: 100%;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    .swiper-slide {
        background-size: cover;
        background-position: center;
    }

    .gallery-top {
        width: 100%;
        height: 566px;
        @media (max-width: 767px) {
            max-height: 400px;
        }
        @media (max-width: 575px) {
            max-height: 193px;
        }

        .swiper-slide {
            border-radius: 30px;
            @media (max-width: 575px) {
                max-width: 323px;
                border-radius: 12px;
            }
        }
    }

    .gallery-thumbs {
        box-sizing: border-box;
        padding: 10px 0;
        max-height: 178px;
        @media (max-width: 575px) {
            display: none;
        }
    }

    .gallery-thumbs .swiper-slide {
        width: 33.3333%;
        border-radius: 12px;
    }

    .gallery-thumbs .swiper-slide-thumb-active {
        opacity: 1;
    }
}