.eco-team {
    overflow-x: hidden;

    &__wrap {
        position: relative;

        .swiper {
            overflow: initial;
        }

        .swiper-team-prev,
        .swiper-team-next {
            position: absolute;
            top: -100px;
            bottom: auto;
            @media (max-width: 991px) {
                top: auto;
                bottom: -45px;
            }
        }

        .swiper-team-prev {
            right: 55px;
            left: auto;
            @media (max-width: 991px) {
                left: auto;
                right: calc(50% + 8px);
            }
        }

        .swiper-team-next {
            right: 0;
            left: auto;
            @media (max-width: 991px) {
                right: auto;
                left: calc(50% + 8px);
            }
        }

        .swiper-wrapper {
            padding: 0 10px 20px;
        }

        .swiper-slide {
            width: 340px;
            @media (max-width: 991px) {
                width: 300px;
            }
            @media (max-width: 575px) {
                width: 280px;
            }
        }
    }

    &__item {
        $item: &;

        &:hover {
            #{$item}-rect {
                bottom: -19px;
                right: -27px;
                @media (max-width: 991px) {
                    bottom: -15px;
                    right: -15px;
                }
            }

            #{$item}-bg:before {
                transform: scale(1);
            }

            #{$item}-info {
                border-radius: 0px 0px 25px 0px;
                box-shadow: none;

                .eco-btn {
                    opacity: 1;

                    -webkit-box-align: center;
                }
            }
        }

        .eco-btn_icon-social {
            display: flex;
            padding-left: 100px;
        }

        &-wrap {
            position: relative;
            z-index: 2;
        }

        &-bg {
            display: block;
            overflow: hidden;
            height: calc(100% - 30px);
            width: 200px;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: -1;

            &:before {
                content: '';
                display: block;
                position: absolute;
                width: 400px;
                height: 400px;
                left: -200px;
                top: 0;
                background: $light-gray-color;
                border-radius: 50%;
                transition: all 0.4s;
                transform: scale(0);
            }
        }

        &-rect {
            width: 207px;
            height: 151px;
            background: $light-blue-color;
            border-radius:  0 0 32px 0;
            position: absolute;
            z-index: 1;
            right: 0;
            bottom: 0;
            transition: all 0.4s;
            @media (max-width: 991px) {
                height: 151px;
                width: 151px;
            }
        }

        &-image {
            position: relative;
            overflow: hidden;
            padding-bottom: 95%;
            border-radius: 30px 30px 0 0;

            img {
                object-fit: cover;
                object-position: center;
                @extend %full-screen;
                @extend %p-absolute;
            }
        }

        &-info {
            border-radius: 0 0 30px 30px;
            background-color: $white-color;
            box-shadow: $drop-shadow;
            height: 213px;
            padding: 60px 25px 0;
            position: relative;
            z-index: 2;
            transition: all 0.4s;

            @media (max-width: 991px) {
                height: 180px;
                padding: 40px 20px 0;
            }

            @media (max-width: 767px) {
                height: 170px;
                padding: 25px 20px 0;
            }

            .eco-btn {
                opacity: 0;
                
            }
        }

        &-position {
            @extend %text-s;
            font-weight: 500;
            color: $light-blue-text-color;
            margin: 0 0 16px;
            @media (max-width: 991px) {
                margin: 0 0 10px;
            }
        }

        &-name {
            @extend %h5;
            font-weight: 500;
            margin: 0 0 20px;
        }
    }
}