.eco-text-card {
    padding: 0 0 130px;
    @media (max-width: 575px) {
        padding: 0;
    }
    &__container-btn {
        display: flex;
        margin-top: 67px;
        .eco-btn_border {
            margin-left: 15px;
            @media (max-width: 575px) {
                margin: 15px 0 0 0;
            }
        }
        @media (max-width: 575px) {
            margin-top: 30px;
            display: block;
            text-align: -webkit-center;
        }

    }
    &__wrap {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        height: 100%;
        @media (max-width: 991px) {
            display: block;
        }
    }
    &__content {
        padding-right: 10px;
        .eco-block-title {
            margin: 0 0 28px;
            @media (max-width: 767px) {
                margin: 0 0 24px;
            }
        }

        p {
            @extend %text-l;
            margin: 0 0 20px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__image {
        width: 100%;
        max-width: calc(100% - 60px);
        position: relative;
        margin-left: auto;
        @media (max-width: 991px) {
            max-width: calc(100% - 20px);
        }
        @media (max-width: 767px) {
            padding-top: 0;
            margin-bottom: 65px;
            max-width: calc(100% - 24px);
        }

        &:after {
            content: '';
            display: block;
            width: 265px;
            height: 262px;
            background: $light-blue-color;
            border-radius: 0px 0px 0 63px;
            position: absolute;
            left: -42px;
            bottom: -46px;
            z-index: 1;
            @media (max-width: 991px) {
                width: 156px;
                height: 153px;
                left: -24px;
                bottom: -26px;
            }
            @media (max-width: 767px) {
                border-radius: 0px 0px 0 37px;
            }
        }

        &-wrap {
            border-radius: 146px 0px 0px 40px;
            overflow: hidden;
            z-index: 2;
            position: relative;
            @media (max-width: 767px) {
                border-radius: 80px 0 0 20px;
            }

            img {
                width: 100%;
            }
        }
    }
}
.eco-content_with_image {
    @media (min-width: 1200px) {
        padding-bottom: 45px;
    }
}