.eco-thank-you {
  margin-bottom: 129px;
  @media screen and (max-width: 991px) {
    margin-bottom: 100px;
  }
  &__title {
    margin-bottom: 39px;
  }
}

.eco-thank-you-form {
  max-width: 636px;
  margin: auto;
  border: 1px solid rgba(1, 37, 80, 0.09);
  box-shadow: 0px 4px 17px $dark-blue-color;
  border-radius: 12px;
  margin-top: -200px;
  background-color: $white-color;
  z-index: 1;
  position: relative;
  text-align: center;
  padding: 145px 0 362px;
  @media screen and (max-width: 991px) {
    min-width: -webkit-fill-available;
    margin: inherit;
    padding: 100px 20px 150px;
  }
  &__title {
    margin: 30px 0 15px;
    color: $light-blue-text-color;
  }
}