.eco-values {
    margin-top: 130px;
    margin-bottom: 150px;
    position: relative;
    z-index: 2;
    @media (max-width: 1199px) {
        margin-bottom: 115px;
    }

    @media (max-width: 767px) {
        margin-bottom: 95px;
    }
}
