@import "variables";

%h {
    clear: both;
    margin: 0;
    padding: 0;
    line-height: 1.2;
    font-weight: 400;

    &:first-child {
        padding-top: 0;
    }
}

%h1 {
    font-size: rem(55);
    line-height: 1.2;
    @media (max-width: 1199px) {
        font-size: rem(46);
    }
    @media (max-width: 991px) {
        font-size: rem(40);
    }
    @media (max-width: 575px) {
        font-size: rem(36);
    }
}
%h2 {
    font-size: rem(48);
    line-height: 1.2;
    @media (max-width: 991px) {
        font-size: rem(36);
    }
    @media (max-width: 575px) {
        font-size: rem(28);
    }
}
%h3 {
    font-size: rem(32);
    line-height: 1.2;
    @media (max-width: 991px) {
        font-size: rem(26);
    }
    @media (max-width: 767px) {
        font-size: rem(22);
    }
    @media (max-width: 575px) {
        font-size: rem(18);
    }
}
%h4 {
    font-size: rem(22);
    line-height: 1.2;
}

%h5 {
    font-size: rem(20);
    line-height: 1.2;
    @media (max-width: 575px) {
        font-size: rem(18);
    }
}
%h6 {
    font-size: rem(18);
    line-height: 1.2;
}


%text-l {
    font-size: rem(20);
    line-height: 1.6;
    @media (max-width: 991px) {
        font-size: rem(18);
    }
    @media (max-width: 575px) {
        font-size: rem(16);
    }
}

%text-m {
    font-size: rem(18);
    line-height: 1.6;
}

%text-s {
    font-size: rem(16);
    line-height: 1.6;
}

%text-xs {
    font-size: rem(14);
    line-height: rem(30);
}

%full-screen {
    width: 100%;
    height: 100%;
}

%p-absolute {
    position: absolute;
    top: 0;
    left: 0;
}