@import "variables";

.eco-footer {
    background: $brand-primary;
    position: relative;
    overflow: hidden;
    .container {
        position: relative;
    }

    &__decor {
        width: fit-content;
        position: absolute;
        top: 0;
        right: -5%;
    }
    &__bg-circle:after {
        content: "";
        background-image: url(../img/mb-bg.png);
    }
    &__logo {
        width: 264px;
        display: block;
        margin: 0 0 60px;
        max-height: 43px;
        @media (max-width: 991px) {
            margin: 0 0 75px;
        }
        @media (max-width: 767px) {
            width: 198px;
        }

        img {
            max-height: 100%;
        }
    }

    &__main {
        padding: 96px 0 120px;
        border-bottom: 1px solid rgba(232, 232, 232, 0.5);
        @media (max-width: 991px) {
            padding: 55px 0 95px;
            border-bottom: none;
        }
    }

    &__subtitle {
        @extend %text-m;
        font-weight: 500;
        margin: 0 0 16px;
        color: $white-color;
    }

    &__menu {
        list-style: none;
        padding: 0;
        margin: 0;

        & > li {
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }

            & > a {
                display: block;
                text-decoration: none;
                @extend %text-s;
                color: $white-color;
                transition: all 0.25s;

                &:hover,
                &:focus,
                &:active {
                    color: $brand-secondary;
                    text-decoration: none;
                }
            }
        }
    }

    &__subscribe {
        color: $white-color;
        @media (max-width: 991px) {
            margin: 70px 0 0;
        }

        &-title {
            @extend %h3;
            margin: 0 0 15px;
            @media (max-width: 991px) {
                font-weight: 500;
            }
        }

        p {
            @extend %text-s;
            margin: 0 0 40px;
        }
    }

    &__bottom {
        padding: 18px 0 34px;
        color: $white-color;
        @media (max-width: 991px) {
            padding: 0 0 60px
        }

        &-wrap {
            @media (max-width: 1399px) {
                flex-wrap: wrap;
                justify-content: space-between;
            }
            @media (max-width: 767px) {
               flex-direction: column;
                justify-content: flex-start;
            }
        }

        &-center {
            @media (max-width: 1399px) {
                width: 100%;
                order: -1;
                justify-content: center;
                margin: 0 0 20px;
            }
            @media (max-width: 991px) {
                justify-content: flex-start;
            }
            @media (max-width: 767px) {
                order: 0;
            }
        }


        p {
            @extend %text-xs;
            margin: 0;
        }
    }

    &__link {
        @extend %text-xs;
        text-decoration: none;
        color: $white-color;
        transition: all 0.4s;

        &:hover,
        &:focus,
        &:active {
            text-decoration: none;
            color: $brand-secondary;
        }
    }

    &__submenu {
        display: flex;
        align-items: center;
        list-style: none;
        padding: 0;
        margin: 0;
        @media (max-width: 991px) {
            margin: 0 0 26px;
        }

        & > li {
            margin-left: 15px;
            position: relative;
            @media (max-width: 991px) {
                margin: 0 0 16px;
            }

            &:last-child {
                @media (max-width: 991px) {
                    margin-bottom: 0;
                }
            }

            &:before {
                content: '';
                display: block;
                height: 14px;
                width: 0;
                border-right: 1px solid $white-color;
                position: absolute;
                top: 0;
                bottom: 0;
                left: -7px;
                margin: auto;
                @media (max-width: 991px) {
                    display: none;
                }
            }

            & > a {
                @extend %text-xs;
                text-decoration: underline;
                color: $white-color;
                transition: all 0.4s;

                &:hover,
                &:focus,
                &:active {
                    text-decoration: underline;
                    color: $brand-secondary;
                }
            }
        }
    }
}
.footer-menu {
    list-style: none;
    padding: 0;
    margin: 0;

    & > li {
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }

        & > a {
            display: block;
            text-decoration: none;
            @extend %text-s;
            color: $white-color;
            transition: all 0.25s;
            width: fit-content;
            &:hover,
            &:focus,
            &:active {
                color: $brand-secondary;
                text-decoration: none;
            }
        }
    }
}
.footer-menu-2 {

    list-style-type: none;
    display: flex;
    margin: auto;
    margin-left: 5px;
    li {
        position: relative;
        display: inline;
        &:before {
            content: "";
            display: block;
            position: absolute;
            bottom: 5px;
            left: 0;
            margin: auto;
            width: 1px;
            height: 12px;
            background-color: $white-color;
        }
        a {
            color: $white-color;
            position: relative;
            margin: 0 5px;
            font-size: 14px;
        }
    }
}

