@import "variables";

html {
    overflow-x: hidden;
}

body {
    font-family: $base-font-family;
    color: $dark-blue-color;
}

.home .main-wrapper {
    @media (max-width: 991px) {
        margin-top: 90px;
    }
}

.eco-loader {
    background-color: rgba($white-color, .5);
    @extend %full-screen;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    svg {
        animation: spinner-rotate 2s linear infinite;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -25px 0 0 -25px;
        width: 50px;
        height: 50px;
        z-index: 2;

        & .path {
            stroke: $brand-secondary;
            stroke-linecap: round;
            animation: spinner-dash 1.5s ease-in-out infinite;
        }
    }
}

@keyframes spinner-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spinner-dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}

.modal-open {
    overflow: hidden;
}

.eco-block {
    margin: 0 0 170px;

    @media (max-width: 991px) {
        margin: 0 0 125px;
    }

    &-title {
        @extend %h2;
        color: $light-blue-text-color;
        text-transform: capitalize;
        margin: 0 0 15px;

        @media (max-width: 575px) {
            margin: 0 0 24px;
        }
    }

    &-subtitle {
        @extend %text-l;
        color: $brown-color;
        margin: 0 auto 30px;

        @media (max-width: 575px) {
            margin-bottom: 44px;
        }

        br {
            @media (max-width: 575px) {
                display: none;
            }
        }

        a {
            font-weight: 500;
            color: $light-blue-text-color;
            transition: all 0.4s;

            &:hover,
            &:active,
            &:focus {
                text-decoration: none;
                color: $dark-blue-color;
            }
        }
    }

    &-center {
        text-decoration: none;
        text-align: center;
        max-width: 1070px;
        margin: auto;
        @media (max-width: 575px) {
            text-align: left;
        }
    }
}


.eco-social {
    list-style: none;
    padding: 0;
    margin: 0;
    $social: &;

    &.social_line {
        display: flex;
        align-items: center;
        margin-bottom: 60px;
        & > li {
            margin-bottom: 0;
            margin-right: 20px;

            @media (max-width: 767px) {
                margin-right: 15px;
            }

            @media (max-width: 575px) {
                margin-right: 12px;
            }

            & > a {

                .icon {
                    width: 28px;
                    height: 28px;
                }

                &:hover,
                &:focus,
                &:active {
                    opacity: 0.6;
                    .icon {
                        svg {
                            path {
                                fill: $brand-secondary;
                            }

                            rect {
                                stroke: $brand-secondary;
                            }
                        }
                    }
                }
            }
        }
    }

    & > li {
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }

        & > a {
            display: flex;
            align-items: center;
            color: $white-color;
            transition: all 0.4s;
            text-decoration: none;
            width: fit-content;
            .icon {
                display: block;
                width: 24px;
                height: 24px;
                flex-shrink: 0;
                margin-right: 10px;

                svg {
                    path,
                    rect {
                        transition: all 0.4s;
                    }
                }
            }

            &:hover,
            &:focus,
            &:active {
                color: $brand-secondary;

                .icon {
                    svg {
                        path {
                            fill: $brand-secondary;
                        }

                        rect {
                            stroke: $brand-secondary;
                        }
                    }
                }
            }
        }
    }
    &__image {
        margin-right: 10px;
    }
}
.eco-linkedin_link {
    content: url(/assets/img/linkedin.svg);
}
.eco-btn {
    border: none;
    border-radius: 0;
    text-decoration: none;
    cursor: pointer;
    display: block;
    flex-shrink: 0;
    transition: all 0.4s;
    outline: none;
    box-shadow: none;
    background-color: transparent;
    width: max-content;

    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
    }

    &_main {
        background-color: $brand-secondary;
        padding: 7px 19px;
        border-radius: 80px;
        color: $dark-blue-color;
        font-weight: 500;
        font-size: 15px;
        line-height: 1.2;
        border: 1px solid $brand-secondary;

        &:hover {
            background-color: $white-color;
            color: $dark-blue-color;
        }
    }

    &_border {
        background-color: $white-color;
        padding: 7px 19px;
        border-radius: 80px;
        color: $dark-blue-color;
        font-weight: 500;
        font-size: 15px;
        line-height: 1.2;
        border: 1px solid $brand-secondary;

        &:hover {
            background-color: $brand-secondary;
            color: $dark-blue-color;
        }
    }

    &_icon {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        font-size: 15px;
        line-height: 1.2;
        color: $light-blue-text-color;
        text-transform: capitalize;

        .icon-soc {
            display: block;
            position: relative;
            flex-shrink: 0;
            width: 29px;
            height: 29px;
            margin-right: 10px;

            svg {
                vertical-align: top;
                width: 100%;
                height: 100%;

                path {
                    fill: $light-blue-text-color;
                }
                rect {
                    stroke: $light-blue-text-color;
                }
            }
        }

        .icon {
            display: block;
            position: relative;
            flex-shrink: 0;
            width: 38px;
            height: 29px;
            margin-left: 18px;

            &:after,
            &:before {
                content: '';
                display: block;
                position: absolute;
                transition: all 0.4s;
            }

            &:after {
                width: 24px;
                height: 8px;
                background-repeat: no-repeat;
                background-size: 24px 8px;
                background-position: center right;
                background-image: url("../img/arrow.svg");
                top: 0;
                bottom: 0;
                left: 0;
                margin: auto;
            }

            &:before {
                width: 29px;
                height: 29px;
                border: 1px solid $light-blue-text-color;
                border-radius: 50%;
                top: 0;
                right: 0;
            }
        }

        &:hover {
            color: $light-blue-text-color;

            .icon {
                &:after {
                    left: 15px;
                    width: 16px;
                }
            }
        }
    }

    &_search {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $brand-secondary;
        @media (max-width: 991px) {
            display: none;
        }
        svg {
            circle,
            line {
                transition: all 0.4s;
            }
        }

        &:hover {
            background-color: $brand-secondary;

            svg {
                circle,
                line {
                    stroke: $dark-blue-color;
                }
            }
        }
    }

    &_icon-social {
        background-image: url("../img/linkedin_blue.svg");
        width: 29px;
        height: 29px;
        background-repeat: no-repeat;
        display: flex;
    }
}
.eco-accordion_section {
    position: relative;
    z-index: 2;
    .container {
        margin-bottom: -26px;
    }
}
.eco-accordion {
    background-color: $white-color;
    box-shadow: $drop-shadow;
    border-radius: 12px;
    margin-bottom: 150px;
    @media (max-width: 767px) {
        margin-bottom: 30px;
    }

    @media (max-width: 575px) {
        border-radius: 20px;
    }

    $accordion: &;

    &.active {
        #{$accordion}__header {
            padding-bottom: 20px;

            &-btn {
                span:nth-child(2n) {
                    transform: rotate(0);
                    opacity: 0;
                }
            }
        }

        #{$accordion}__body {
            display: block;

            &-bg {
                width: 275px;
                height: 223px;
            }
        }
    }

    &.values_item {
        margin-bottom: 26px;

        @media (max-width: 767px) {
            margin-bottom: 30px;
        }

        #{$accordion}__header {
            display: flex;
            align-items: center;
            padding: 24px 80px 24px 28px;
            @media (max-width: 575px) {
                padding: 14px 50px 14px 14px;
            }
        }

        #{$accordion}__header-title {
            @extend %h5;
            font-weight: 500;
        }

        #{$accordion}__header-btn {
            right: 29px;
            @media (max-width: 575px) {
                right: 13px;
            }
        }

        #{$accordion}__body {
            padding: 0 60px 40px 117px;
            @media (max-width: 1199px) {
                padding: 0 20px 40px 117px;
            }
            @media (max-width: 575px) {
                padding: 0 15px 20px 80px;
            }

            p {
                @media (max-width: 575px) {
                    margin: 0 0 14px;
                }
            }

            &-bg {
                width: 275px;
                height: 100%;
                opacity: 0.7;
                border-radius: 0px 153.5px 0px 0px;

                @media (max-width: 767px) {
                    width: 237px;
                    height: 174px;
                }
            }
        }
    }

    &__header {
        position: relative;
        padding: 30px 120px 30px 60px;
        border-radius: 12px 12px 0 0;
        @media (max-width: 1199px) {
            padding: 30px 60px 30px 30px;
        }
        @media (max-width: 575px) {
            padding: 23px 45px 23px 20px;
        }

        &-type {
            @extend %text-s;
            font-weight: 500;
            color: $light-blue-text-color;
            margin: 0 0 7px;
        }

        &-icon {
            display: block;
            width: 68px;
            height: 68px;
            flex-shrink: 0;
            margin-right: 20px;
            @media (max-width: 575px) {
                width: 51px;
                height: 51px;
                margin-right: 15px;
            }

            img {
                width: 100%;
            }
        }

        &-title {
            @extend %h3;
            margin: 0;
            color: $dark-blue-color;
            @media (max-width: 575px) {
                font-weight: 500;
            }
        }

        &-btn {
            position: absolute;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: $brand-secondary;
            top: 0;
            bottom: 0;
            right: 60px;
            margin: auto;
            @media (max-width: 1199px) {
                right: 25px;
            }

            @media (max-width: 575px) {
                width: 30px;
                height: 30px;
            }

            span {
                display: block;
                height: 0;
                width: 13px;
                border-bottom: 1px solid $border-dark-color;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                transition: all 0.4s;
                opacity: 1;
                @media (max-width: 575px) {
                    width: 10px;
                }

                &:nth-child(1) {
                }

                &:nth-child(2) {
                    transform: rotate(90deg);
                }
            }
        }
    }

    &__body {
        border-radius: 0 0 12px 12px;
        padding: 0 60px 54px;
        position: relative;
        z-index: 2;
        display: none;
        @media (max-width: 1199px) {
            padding: 0 30px 35px;
        }
        @media (max-width: 575px) {
            padding: 0 20px 30px;
        }

        p {
            @extend %text-s;
            color: $brown-color;
            margin: 0 0 20px;
            @media (max-width: 575px) {
                margin: 0 0 30px;
            }
        }

        &-bg {
            width: 200px;
            height: 142px;
            position: absolute;
            bottom: 0;
            left: 0;
            overflow: hidden;
            z-index: -1;
            background: $light-gray-color;
            border-radius: 0px 400px 0px 0px;
        }
    }
}


/*tabs*/
.eco-tabs {
    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: $white-color;
        border: 1px solid $light-blue-text-color;
        box-shadow: $drop-shadow;
        border-radius: 70px;
        padding: 8px 11px;

    }

    &__btn {
        display: block;
        flex-shrink: 0;
        border-radius: 70px;
        @extend %text-s;
        color: $dark-blue-color;
        cursor: pointer;
        text-decoration: none;
        text-align: center;
        padding: 13px 24px;
        opacity: 0.7;
        width: max-content;
        transition: all 0.4s;

        &.active {
            background-color: $brand-secondary;
            color: $dark-blue-color;
            opacity: 1;
        }

        &:hover {
            color: $dark-blue-color;
            text-decoration: none;
            opacity: 1;
        }

        &:active,
        &:focus {
            background-color: $brand-secondary;
            color: $dark-blue-color;
            text-decoration: none;
            opacity: 1;
        }
    }
}

/*swiper*/
.swiper-button-prev,
.swiper-button-next {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: $white-color;
    border: 1px solid $brand-secondary;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0;
    outline: none;
    box-shadow: none;
    transition: all 0.4s;

    &:hover {
        background-color: $brand-secondary;
    }

    .icon {
        display: block;
        width: 7px;
        height: 12px;

        svg {
            vertical-align: top;
        }
    }
}

.swiper-button-cont {
    display: flex;
    width: 94px;
    justify-content: space-between;
    align-self: end;
}
.swiper-button-cont-project {
    display: flex;
    position: absolute;
    top: calc(100% - 110px);
    width: 100%;
    left: 0;
    justify-content: space-between;
    @media (max-width: 575px) {
        top: 100%;
        justify-content: center;
        margin-top: 56px;
    }
    .swiper-custom-prev,.swiper-custom-next {
        @media (max-width: 575px) {
            margin: 0 8px;
        }
    }

}




/*pagination*/
.eco-pagination {
    @media (max-width: 767px) {
        margin-top: 25px;
    }

    &__list {
        align-items: center;
        justify-content: center;
        position: relative;
        text-align: center;
    }

    .page-numbers {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 39px;
        height: 39px;
        flex-shrink: 0;
        border-radius: 50%;
        border: none;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.4s;
        background-color: transparent;
        text-align: center;
        @extend %text-s;
        font-weight: 500;
        color: $dark-blue-color;
        &.current {
            background-color: $brand-secondary;
            border-radius: 29px;
        }

        &__text {
            @media (max-width: 767px) {
                display: none;
            }
        }

        &.active {
            background-color: $brand-secondary;
        }

        &:hover,
        &:active,
        &:focus {
            text-decoration: none;
            color: $dark-blue-color;
        }

        &.prev,
        &.next {
            font-size: 15px;
            font-weight: 600;
            text-transform: capitalize;

            .icon {
                width: 39px;
                height: 39px;
                flex-shrink: 0;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $white-color;
                border: 1px solid $brand-secondary;
                transition: all 0.4s;
            }

            &:hover,
            &:active,
            &:focus {
                .icon {
                    background-color: $brand-secondary;
                }
            }
        }

        &.prev {
            width: fit-content;
            margin-right: auto;
            position: absolute;
            left: 0;
            .icon {
                margin-right: 20px;
            }
        }

        &.next {
            width: fit-content;
            margin-left: auto;
            position: absolute;
            right: 0;
            .icon {
                margin-left: 20px;
            }
        }
    }
}


/*form*/

.eco-field-form {
    margin-bottom: 16px;

    &.field_select,
    &.field_search {
        margin-bottom: 26px;

        @media (min-width: 992px) {
            margin-bottom: 0;
        }
    }

    &.field_search {
        position: relative;

        input[type="text"] {
            background-color: $white-color;
            border: 1px solid $light-blue-text-color;
            border-radius: 53px;
            box-sizing: border-box;
            font-weight: 500;
            font-size: 15px;
            color: $dark-blue-color;
            line-height: 44px;
            letter-spacing: 0;
            text-align: left;
            padding-left: 20px;
            padding-right: 50px;
            width: 100%;
            height: 46px;

            &::placeholder {
                color: $dark-blue-color;
            }
        }

        span {
            background-image: url("../img/select-arrow.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            width: 29px;
            height: 29px;
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &.field_select {
        .select2-container {
            box-sizing: border-box;
            height: 46px !important;
            border: none;
            border-radius: 0;

            &:focus, &:active {
                outline: none;
                box-shadow: none;
            }

            &.select2-container--open, &.select2-container--focus {
                outline: none;
                box-shadow: none;
            }

            &.select2-container--open {
                .select2-selection__arrow {
                    //transform: rotate(180deg);
                }
            }

            .select2-selection--single {
                background-color: $white-color;
                border: 1px solid $light-blue-text-color;
                box-sizing: border-box;
                height: 46px !important;
                border-radius: 53px !important;

                &[aria-expanded="true"] {

                    .select2-selection__arrow b {

                    }
                }

                &:focus, &:active {
                    outline: none;
                    box-shadow: none;
                }
            }

            .select2-selection__rendered {
                height: 44px;
                line-height: 44px !important;
                font-weight: 500;
                font-size: 15px;
                letter-spacing: 0;
                color: $dark-blue-color !important;
                padding-left: 20px !important;
                padding-right: 50px;
                text-align: left;
            }

            .select2-selection__placeholder {
                color: $dark-blue-color !important;
            }

            .select2-selection__arrow {
                width: 29px !important;
                height: 29px !important;
                top: 0;
                right: 20px !important;
                bottom: 0;
                margin: auto;
                background-image: url("../img/select-arrow.svg");
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;

                b {
                    display: none;
                }
            }
        }

        &--dark {
            .select2-container {
                height: 74px !important;

                .select2-selection--single {
                    background: linear-gradient(95.84deg, #093164 -1.55%, #0E4895 -1.54%, #05254F 100%);
                    height: 74px !important;
                }

                .select2-selection__rendered {
                    font-size: 18px;
                    color: $white-color !important;
                    line-height: 74px !important;
                    height: 74px;
                }

                .select2-selection__arrow {
                    background-image: url("../img/select-arrow-white.svg");
                }
            }
        }
    }
}

.container-small {
    max-width: 1030px;
    margin: auto;
}

.project-page-button {
    margin-bottom: 105px;
}

.eco-no-border-banner {
    border-radius: inherit !important;

    &:before {
        content: "";
        display: block;
        background: $darker-blue-color-second;
        border-radius: 0 0 0 0;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        max-height: 392px;

    }
}

.swiper-custom-prev,
.swiper-custom-next {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: $white-color;
    border: 1px solid $brand-secondary;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0;
    outline: none;
    box-shadow: none;
    transition: all 0.4s;

    &:hover {
        background-color: $brand-secondary;
    }

    .icon {
        display: block;
        width: 7px;
        height: 12px;

        svg {
            vertical-align: top;
        }
    }
}

.swiper-cont {
    display: flex;
    justify-content: space-between;
    max-width: 95px;

    &--desktop {
        display: none;

        @media (min-width: 992px) {
            display: flex;
        }
    }

    &--mobile {
        margin: 0 auto;
        max-width: 95px;

        @media (min-width: 992px) {
            display: none;
        }
    }

    > div {
        &:first-child {
            margin-right: 15px;
        }
    }
}

.button-center {
    @media (min-width: 992px) {
        display: flex;
        justify-content: center;
    }
}

.testimonials-button {
    margin-bottom: 0;
}

.eco-image-video-block {
    position: relative;
    &__button {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 80px;
        height: 80px;
        transform: translate(-50%, -50%);
        background-color: $brand-secondary;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        transition: all 0.25s;

        svg {
            transition: all 0.25s;
        }

        &:hover {
            background-color: $white-color;

            svg {
                transform: scale(1.1);
            }
        }
    }
}

.wrapper{
    max-width: 90vw;
    min-width: 275px;
    margin: 10vh auto;
}

.active{
    display: block;
}

.tab-content {
    position: relative;
    overflow: hidden;
}

.tab-content-item {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 980px;
    margin: auto;
}

.tab-content-item.active {
    opacity: 1;
    visibility: visible;
    position: static;
}

.mapplic-edit-map,.mapplic-zoom-buttons, {
    display:none;
}

.mapplic-tooltip {
    $self: &;

    &:not(.mapplic-hovertip) {
        #{$self}-wrap {
            border-radius: 0 0 42px 0;
        }
    }

    &-description {
        max-width: 27px;
        min-width: 100%;
    }
    &-wrap {
        background: $white-color;
        box-shadow: 0 4px 17px rgba(17, 61, 118, 0.1);
        border-top: 13px solid $brand-secondary;
        position: relative;
    }
    &-body {
        padding: 27px!important;
        width: 261px;
    }
    &-body-text {
        display: flex;
    }
    &-close {
        right: 50px!important;
    }
    img {
        max-width: 29px!important;
    }
}

.mapplic-icon.mapplic-icon-cross {
    position: absolute;
    top: 15px;
    right: 15px!important;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #b7e588;
    border-radius: 50%;
}

.form-wrapper {
    max-width: 30%;
    min-width: 300px;
    padding: 50px 30px 50px 30px;
    margin: 50px auto;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07);
}

.form-group {
    position:relative;

    & + .form-group {
        margin-top: 30px;
    }
}

.form-label {
    position: absolute;
    left: 0;
    top: 10px;
    color: #999;
    background-color: #fff;
    z-index: 10;
    transition: transform 150ms ease-out, font-size 150ms ease-out;
}

.focused .form-label {
    transform: translateY(-125%);
    font-size: .75em;
}

.form-input {
    position: relative;
    padding: 12px 0px 5px 0;
    width: 100%;
    outline: 0;
    border: 0;
    box-shadow: 0 1px 0 0 #e5e5e5;
    transition: box-shadow 150ms ease-out;

    &:focus {
        box-shadow: 0 2px 0 0 blue;
    }
}

.form-input.filled {
    box-shadow: 0 2px 0 0 lightgreen;
}

.eco-three_card_slider {
    position: relative;
    .container {
        position: relative;
        .swiper-cont {
            //@media (max-width: 991px) {
            //    position: absolute;
            //    bottom: 70px;
            //    left: 50%;
            //    transform: translateX(-50%);
            //    z-index: 100;
            //}
        }
    }
}

.real_projects-template-default {
    .eco-hero {
        &__content {
            padding: 178px 0 0;
        }
        &__wrap {
            min-height: 654px;
        }
        &__text {
            @media (min-width: 767px) {
                display: none;
            }
        }
        .eco-social {
            @media (max-width: 767px) {
                display: none;
            }
        }
    }
}

.real_projects-content {
    h2 {
        margin: 90px 0 28px;
    }
}

.eco-text_section_content {
    &__wrap {
        h2 {
            margin-bottom: 20px;
        }

        h5 {
            color: $brown-color;
            line-height: 160%;
        }
    }
}

.eco-find-industry {
    $self: &;

    background-color: $brand-secondary;
    border-radius: 50px 0 0 50px;
    width: 200px;
    height: 60px;
    position: fixed;
    bottom: 100px;
    right: 0;
    z-index: 100;

    @media (max-width: 991px) {
        display: none;
    }

    &.active {
        #{$self}__content {
            display: block;
        }
    }

    &__text {
        font-weight: 500;
        font-size: 15px;
        color: $dark-blue-color;
        margin-right: 18px;

        &-bottom {
            background-color: $brand-secondary;
            font-weight: 500;
            font-size: 15px;
            padding: 0 47px;
        }
    }

    &__wrap {
        display: flex;
        align-items: center;
        cursor: pointer;
        margin-left: 36px;
        height: 100%;

        &-bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: $brand-secondary;
            cursor: pointer;
            padding: 0 47px;
            height: 60px;
        }
    }

    &__button {
        border: none;
        background-color: transparent;
    }

    &__content {
        display: none;
        width: 354px;
        background-color: $white-color;
        box-shadow: $drop-shadow;
        border-radius: 30px 0 0 0;
        @extend %text-m;
        position: absolute;
        bottom: 0;
        right: 0;

        ul {
            max-width: 260px;
            margin: auto;
            padding: 35px 0;
            li {
                margin-bottom: 15px;
                &:last-child {
                    margin-bottom: 0;
                }
                &::marker {
                    font-size: 0;
                }
                a {
                    color: $dark-blue-color;
                    transition: max-width;
                    &:hover {
                        color: $light-blue-text-color;
                        text-decoration: none;
                        background-image: url("../img/find_link.svg");
                        width: 25px;
                        height: 17px;
                        background-repeat: no-repeat;
                        margin-left: -30px;
                        padding-left: 30px;
                        transition: .4s;
                    }
                }

            }
        }
    }
}

.eco-searchform {
    margin-top: 34px;
    width: 100%;
    background: #fff;
    border: 1px solid #13478a;
    border-radius: 80px;
    padding: 4.5px 4.5px 4.5px 20px;
    @media (min-width: 991px) {
        display: none;
    }
    input {
       border: none;
        border: 0;
        width: 95%;
    }
    &__wrap {
        display: flex;
        justify-content: space-between;
    }
    &__btn-mob {
        border: none;
        background-color: transparent;
    }
}


.eco-video {
    // margin-top: -40px;
    margin: 0;
    &__wrap {
        position: relative;

        img {
            border-radius: 20px;
            width: 100%;
            height: auto;
        }
    }
}

.bc-spacer {
    margin-block-start: 0 !important;
    
    + * {
        position: relative;
        z-index: 11;
    }
    
    &_is-preview {
        background: repeating-linear-gradient(-45deg, #e5e5e5, #e5e5e5 15px, #fff 0, #fff 30px);
    }
}

.mb-125 {
    margin-bottom: 125px;
}

.mb-xl-170 {
    @media (min-width: 1200px) {
        margin-bottom: 170px;
    }
}

.eco-section-default-element {
    color: $brand-primary;
    width: calc(100% - 40px);
    margin-left: auto;
    margin-right: auto;

    &:first-child {
        padding-top: 38px;
    }

    &.alignfull {
        width: 100%;
    }

    a {
        color: $brand-primary;
        text-decoration: underline;
    }
}

h1, h2, h3, h4, h5, h6 {
    &.eco-section-default-element {
        color: $dark-blue-color;
        max-width: 1030px;
        width: calc(100% - 20px);
        margin: 0 auto 24px;
    }
}

p.eco-section-default-element,
li.eco-section-default-element {
    @extend %text-l;
    color: $brown-color;
    margin-bottom: 24px;
}

p.eco-section-default-element,
table.eco-section-default-element,
ol.eco-section-default-element,
ul.eco-section-default-element,
figure.eco-section-default-element,
#ot-sdk-cookie-policy.eco-section-default-element {
    max-width: 1030px;
}

ul.eco-section-default-element,
ol.eco-section-default-element {
    padding-left: 20px;

    li {
        @extend %text-l;
        color: $brown-color;
        margin-bottom: 10px;
    }
}

figure.eco-section-default-element + div.eco-section-default-element {
    margin: 0 auto !important;
    max-width: 1030px;
}