@import "variables";

.eco-header {
    $h: &;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 101;
    transition: all 0.25s;
    // margin-bottom: -145px;
    @media (max-width: 991px) {
        margin-bottom: -85px;
    }

    @media (max-width: 767px) {
        margin-bottom: -92px;
    }


    @media (min-width: 992px) {
        &:hover {
            background-color: $white-color;

            #{$h}__menu {
                > li {
                    > a {
                        color: $light-blue-text-color;
                    }
                }
            }

            .eco-btn_search {
                svg {
                    circle,
                    line {
                        stroke: $light-blue-text-color;
                    }
                }
            }

            #{$h}__logo {
                &.logo_blue {
                    display: block;
                }

                &.logo_white {
                    display: none;
                }
            }
        }
    }

    $header: &;

    &.main_header {
        @media (max-width: 991px) {
            background-color: $white-color;
            margin-bottom: 0;
        }

        @media (max-width: 767px) {
            margin-bottom: 0;
        }

        #{$header}__logo.logo_white {
            display: none;
        }

        #{$header}__logo.logo_blue {
            display: block;
        }

        #{$header}__menu {
            & > li {
                &:first-child {
                    & > a {
                        @media (max-width: 1199px) {
                            color: $light-blue-text-color;
                        }
                    }
                }
            }
        }
    }

    &.show {
        @media (max-width: 991px) {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: $white-color;
            z-index: 100;
            overflow-x: hidden;
            overflow-y: initial;

            #{$header}__logo.logo_white {
                display: none;
            }

            #{$header}__logo.logo_blue {
                display: block;
            }

            #{$header}__wrap {
                flex-wrap: wrap;
                height: 100vh;
                align-items: flex-start;
                flex-direction: column;
                justify-content: flex-start;
            }

            #{$header}__nav {
                display: block;
                padding-top: 70px;
            }

            #{$header}__menu {
                width: 100%;
                margin: 0;

                & > li {
                    margin: 0 0 60px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    & > a {
                        color: $light-blue-text-color;
                        font-weight: 500;
                        font-size: 24px;
                        line-height: 1.1;
                        text-transform: capitalize;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 0;

                        &:after {
                            content: '';
                            display: block;
                            width: 39px;
                            height: 39px;
                            background: $white-color;
                            border: 1px solid $brand-secondary;
                            border-radius: 50%;
                            flex-shrink: 0;
                            margin-left: auto;
                            margin-right: 0;
                            background-image: url("../img/arrow-next.svg");
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: 5px 10px;
                        }
                    }
                }
            }
        }
    }

    &__wrap {
        align-items: center;
        justify-content: space-between;
        padding: 40px 0;
        @media (max-width: 991px) {
            padding: 26px 0;
            position: relative;
        }
    }

    &__logo {
        display: block;
        cursor: pointer;
        width: 264px;
        flex-shrink: 0;
        position: relative;
        z-index: 200;


        @media (max-width: 1199px) {
            width: 220px;
        }
        @media (max-width: 991px) {
            width: 198px;
            height: fit-content;
            margin-left: 0;
            margin-right: auto;
        }

        &.logo_blue {
            display: none;
        }

        &.logo_white {
        }

        img {
            width: 100%;
        }
    }

    &__burger {
        display: none;
        position: relative;
        border: none;
        padding: 0;
        border-radius: 50%;
        cursor: pointer;
        text-decoration: none;
        width: 41px;
        height: 41px;
        background-color: $brand-secondary;
        flex-shrink: 0;
        z-index: 200;

        @media (max-width: 991px) {
            display: block;
            position: absolute;
            top: 26px;
            right: 0;
        }

        span {
            display: block;
            width: 13px;
            height: 0;
            border-bottom: 1px solid $dark-blue-color;
            position: absolute;
            left: 14px;

            &:nth-child(1) {
                top: 15px;
            }

            &:nth-child(2) {
                top: 20px;
            }

            &:nth-child(3) {
                top: 25px;
            }
        }
    }

    &__nav {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        @media (max-width: 991px) {
            display: none;
            width: 100%;
        }

        @media (max-width: 575px) {
            //padding: 0 16px;
        }
    }

    &__menu {
        list-style: none;
        padding: 0;
        margin: 0 33px 0 0;
        display: flex;
        align-items: center;

        @media (max-width: 991px) {
            display: block;
            position: relative;
        }

        & > li {
            margin-right: 20px;

            @media (max-width: 1199px) {
                margin-right: 15px;
            }

            @media (min-width: 992px) {
                padding: 17px 0;
            }

            &:last-child {
                margin-right: 0;
            }

            &.menu-item-has-children,
            &.has-child {
                // position: relative;

                @media (max-width: 991px) {
                    position: initial;
                }

                @media (min-width: 992px) {
                    &:hover {
                        > .eco-header__submenu-wrap {
                            opacity: 1;
                            visibility: visible;
                            z-index: 20;
                            display: block;
                        }
                    }
                }

            }

            & > a {
                @extend %text-s;
                font-weight: 500;
                display: block;
                text-decoration: none;
                color: $white-color;
                padding: 0 5px;
                position: relative;
                transition: all 0.25s;

                &:after {
                    content: '';
                    display: block;
                    width: 0;
                    height: 0;
                    border-bottom: 2px solid $brand-secondary;
                    transition: all 0.4s;
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: -6px;
                    margin: auto;
                }

                &:hover,
                &:active,
                &:focus {
                    text-decoration: none;
                    color: $white-color;

                    &:after {
                        width: 100%;
                    }
                }

                &.active {
                    text-decoration: none;
                    color: $white-color;

                    &:after {
                        width: 100%;
                    }
                }
            }

            @media(min-width: 992px) {
                &.menu-item__default {
                    position: relative;

                    #{$h}__submenu-wrap {
                        width: auto;
                        top: 100%;
                        padding: 15px 20px;
                        left: -15px;
                        height: auto;
                        border-bottom: 5px solid $brand-secondary;

                        #{$h}__submenu {
                            &.submenu_second {
                                width: auto;
                                min-width: 220px;
                                border-right: none;

                                > li {
                                    margin-bottom: 10px;

                                    &:last-child {
                                        margin-bottom: 0;
                                    }

                                    > a {
                                        font-size: 16px;
                                    }
                                }
                            }

                            &.submenu_third {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }

    &__submenu-wrap {
        background-color: $white-color;
        width: 100vw;
        //height: calc(100vh - 100px);

        position: absolute;
        left: 0;
        top: 100px;
        // top: 100%;
        // bottom: -20px;
        // margin-top: -40px;
        // bottom: 0;
        padding: 125px calc((100vw - 1296px) / 2);
        border-bottom: 15px solid $brand-secondary;

        opacity: 0;
        visibility: hidden;
        z-index: 10;

        @media (min-width: 992px) {
            z-index: -10;
            display: none;
        }
        // display: none;

        @media (max-width: 1399px) {
            padding: 80px calc((100vw - 1116px) / 2);
        }

        @media (max-width: 1199px) {
            padding: 50px calc((100vw - 936px) / 2);
        }

        @media (max-width: 991px) {
            position: absolute;
            top: 0;
            width: 100%;
            height: auto;
            min-height: calc(100% + 20px);
            border: none;
            transform: translateX(100vw);
            transition: all 0.4s;
            padding: 0;
        }

        &.show {
            @media (max-width: 991px) {
                transform: translateX(0);
                padding-top: 10px;
                top: -10px;
                opacity: 1;
                visibility: visible;
                display: block;
            }
        }


        &:hover {
            opacity: 1;
            visibility: visible;
        }

        & > #{$header}__submenu {
            border-right: 1px solid $light-blue-text-color;
            display: block;
            width: 370px;

            @media (max-width: 991px) {
                border: none;
                width: 100%;
            }

        }
    }

    &__submenu {
        list-style: none;
        opacity: 0;
        visibility: hidden;
        z-index: 20;
        padding: 0;
        margin: 0;
        display: none;

        @media (max-width: 991px) {

            opacity: 1;
            visibility: visible;
        }

        &:hover {
            opacity: 1;
            visibility: visible;
        }

        & > li {
            cursor: pointer;

            &.back-link {
                display: none !important;

                @media (max-width: 991px) {
                    display: block !important;
                    padding-top: 30px;
                    padding-bottom: 15px;
                    margin-bottom: 20px;
                    border-bottom: 2px solid $brand-secondary;
                    position: relative;
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 1.1;
                    text-transform: capitalize;
                    color: $light-blue-text-color;

                    &:before {
                        content: '';
                        display: block;
                        width: 39px;
                        height: 39px;
                        background: $white-color;
                        border: 1px solid $brand-secondary;
                        border-radius: 50%;
                        flex-shrink: 0;
                        margin-left: auto;
                        margin-right: 0;
                        background-image: url("../img/arrow-next.svg");
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: 5px 10px;
                        transform: rotate(180deg);
                        position: absolute;
                        top: -34px;
                        left: 0;
                    }
                }
            }

            & > a {
            }
        }

        &.submenu_second {
            width: 370px;
            height: 100%;
            position: relative;
            opacity: 1;
            visibility: visible;
            @media (max-width: 1399px) {
                width: 330px;
            }
            @media (max-width: 1199px) {
                width: 280px;
            }

            @media (max-width: 991px) {
                background-color: $white-color;
                width: 100%;
                min-height: 100%;
                height: auto;
            }


            & > li {
                margin-bottom: 70px;
                display: flex;
                align-items: center;

                @media (max-width: 991px) {
                    display: block;
                    margin-bottom: 50px;
                }


                &:last-child {
                    margin-bottom: 0;
                }

                .submenu-icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 53px;
                    height: 53px;
                    transition: all 0.4s;
                    border-radius: 50%;
                    background-image: $gradient-primary;
                    margin-right: 15px;
                    @media (max-width: 1399px) {
                        width: 50px;
                        height: 50px;
                        margin-right: 10px;
                    }
                    @media (max-width: 1199px) {
                        width: 45px;
                        height: 45px;
                    }

                    @media (max-width: 991px) {
                        display: none;
                    }


                    svg {
                        vertical-align: top;

                        circle,
                        path,
                        rect {
                            transition: all 0.4s;
                        }
                    }
                }

                &:hover {

                    @media (min-width: 992px) {
                        .submenu-icon {
                            background-image: none;
                            background-color: $brand-secondary;

                            svg {
                                circle {
                                    fill: $brand-secondary;
                                }

                                path,
                                rect {
                                    fill: $light-blue-text-color;
                                }
                            }
                        }

                        & > a {
                            color: $light-blue-text-color;

                            &:after {
                                width: 100%;
                            }
                        }

                        & > .eco-header__submenu {
                            opacity: 1;
                            visibility: visible;

                            .eco-header__submenu {
                                display: block;
                                opacity: 1;
                                visibility: visible;
                            }
                        }
                    }
                }

                &.active {
                    @media (max-width: 991px) {
                        a:after {
                            background-image: url("../img/minus.svg");
                        }

                    }
                }

                & > a {
                    display: block;
                    width: fit-content;
                    font-weight: 400;
                    font-size: 32px;
                    line-height: 1.2;
                    text-decoration: none;
                    color: $light-blue-text-color;
                    position: relative;
                    @media (max-width: 1399px) {
                        font-size: 28px;
                    }
                    @media (max-width: 1199px) {
                        font-size: 24px;
                    }

                    @media (max-width: 991px) {
                        font-weight: 500;
                        font-size: 18px;
                        text-transform: capitalize;
                        display: flex;
                        align-items: center;
                        width: 100%;
                    }


                    &:after {
                        content: '';
                        display: block;
                        height: 0;
                        width: 0;
                        border-bottom: 2px solid $brand-secondary;
                        position: absolute;
                        bottom: -9px;
                        right: 0;
                        left: 0;
                        margin: auto;
                        transition: all 0.4s;

                        @media (max-width: 991px) {
                            content: '';
                            display: block;
                            width: 39px;
                            height: 39px;
                            background: $white-color;
                            border: 1px solid $brand-secondary;
                            border-radius: 50%;
                            flex-shrink: 0;
                            margin-left: auto;
                            margin-right: 0;
                            background-image: url("../img/plus.svg");
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: 13px auto;
                        }

                    }

                    &:hover {
                        color: $brand-secondary;
                    }
                }
            }
        }

        &.submenu_third {
            display: block;
            position: absolute;
            top: 0;
            left: 370px;
            width: calc(1296px - 370px);
            padding-left: 100px;
            opacity: 0;
            visibility: hidden;
            transition: all 0.4s;

            @media (min-width: 992px) {
                column-count: 3;
            }

            @media (max-width: 1399px) {
                width: calc(1116px - 330px);
                padding-left: 40px;
                left: 330px;
            }

            @media (max-width: 1199px) {
                width: calc(936px - 280px);
                padding-left: 30px;
                left: 280px;
            }


            @media (max-width: 991px) {
                width: 100%;
                height: auto;
                min-height: 100%;
                left: 0;
                opacity: 1;
                visibility: visible;
                padding-left: 0;
                background-color: $white-color;
                display: none;
                margin-top: 17px;
            }

            &.show {
                @media (max-width: 991px) {
                    display: block;
                    position: relative;

                    #{$header}__submenu {
                        display: block;
                    }
                }
            }


            & > li {
                margin: 0 0 17px;
                //width: 230px;

                @media (min-width: 992px) {
                    display: grid;
                    grid-template-rows: 1fr auto;
                    -webkit-column-break-inside: avoid;
                    -moz-column-break-inside: avoid;
                    break-inside: avoid;
                    margin-bottom: 45px;
                    width: auto;
                }

                @media (max-width: 1199px) {
                    width: 200px;
                }

                @media (max-width: 991px) {
                    width: 100%;
                }


                &:last-child {
                    margin-bottom: 0;
                }


                & > a {

                    display: block;
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 1.2;
                    text-decoration: none;
                    transition: all 0.4s;
                    color: $light-blue-text-color;
                    @media (max-width: 1199px) {
                        font-size: 20px;
                    }

                    @media (max-width: 991px) {
                        font-weight: 400;
                        font-size: 14px;
                    }


                    &:hover,
                    &:active,
                    &:focus {
                        text-decoration: none;
                        color: $brand-secondary;
                    }
                }

                & > #{$header}__submenu {
                    list-style: none;
                    padding: 0;
                    margin: 17px 0 0;

                    & > li {
                        margin: 0 0 19px;

                        &:last-child {
                            margin-bottom: 0;
                        }

                        & > a {
                            @extend %text-s;
                            line-height: 1.2;
                            display: block;
                            color: $light-blue-text-color;
                            transition: all 0.4s;
                            text-decoration: none;

                            @media (max-width: 991px) {
                                font-weight: 400;
                                font-size: 14px;
                            }


                            &:hover {
                                color: $brand-secondary;
                            }
                        }
                    }
                }
            }
        }
    }
}

body.home {
    .eco-header {
        &__logo {
            &.logo_blue {
                display: block;
            }

            &.logo_white {
                display: none;
            }
        }
    }
}